[2018-11-14 17:12] JasonStoltz opened #5 "Clean up file name casing"
Files names, across the entire project use a mix of camel and snake casing. We should pick one and be consistent about it.

[2018-11-14 17:16] JasonStoltz opened #6 "Add CircleCI configuration"
Initially, we should just add CircleCI to run unit tests.

This does not need to include comprehensive integration and browser level tests.

[2018-11-14 17:18] JasonStoltz opened #7 "Add Rollup build"
This currently simply uses babel to compile our source from /src to /lib.

We should pull in Rollup, for two things:
- Include umd builds
- Tree shaking. I believe this will be important, because people may pull down our library just for one component, like an autocomplete.

EDIT:
- UMD build will not really help us for a React library. Users are 99% guaranteed to be using a tool like webpack or R

[2018-11-14 17:22] JasonStoltz opened #8 "Rework Facet component types"
Facets currently have two problems:

1. Facet views are tied to a specific type of facet, "range" or "value". They should be able to work with either.
2. The Facet container should have a default view, rather than requiring one to be passed.

BREAKING CHANGES:
Facet views have been renamed.

[2018-11-14 17:23] JasonStoltz opened #9 "Update Sorting and ResultsPerPage to use react-select"
This provides more flexibility for styling

[2018-11-14 17:27] JasonStoltz opened #10 "Support for OR facet selections"
Currently, all facets are treated as AND filters.

I believe that there should be an option on certain Facet component types to make it an OR filter.

I propose the following API:

[code]

[code]

[code]

[code]

[2018-11-14 17:28] JasonStoltz opened #11 "Date fields won't work with Facet Filters"
Currently, range filters will not work with date fields.

This is currently blocked by: https://swiftype.atlassian.net/browse/ENG-1368

[2018-11-14 17:30] JasonStoltz opened #12 "Create component styles"
Currently, we pull in the Reference UI CSS and Markup. This is not ideal because the terms "reference-ui" are used all throughout it.

We should factor out common styles that are tied to individual components and have a separate stylesheet for react-search-components.

I also recommend setting up Storybook for styling these components individually.

[2018-11-14 17:36] JasonStoltz opened #13 "Provide managed mode"
A benefit of this library is the fact that it manages state for you, and converts that state to API calls automatically.

If a user chooses not to do that, either because they have a different backend they'd like to support, or they're storing their state elsewhere, we should provide support for that.

An example:
https://github.com/react-tools/react-table#fully-controlled-component

In manage mod

[2018-11-14 17:37] JasonStoltz opened #14 "Integration instructions for integrating with Redux and React Router"
This will likely be tied closely to Managed Mode

[2018-11-14 18:03] JasonStoltz opened #15 "Normalize the Data Model"
Come up with domain specific state shape that works best for the app, and not necessarily derived from API syntax.

The current syntax is derived from the App Search API syntax. It is highly nested and difficult to work with, especially when try to add or remove filters. This is because the API syntax is geared towards providing a DSL for querying, it was not designing with the intention of state

[2018-11-14 18:04] JasonStoltz opened #16 "Replace react-search-components with EUI"
This would give us:
1) Out of the box components that work nicely
2) Accessibility compliance

[2018-11-14 18:05] JasonStoltz opened #17 "Convert to Typescript"
We deal with a number of types in this Project. Making concrete types that could be shared across the various projects and externally to consumers would clean things up a  lot.

[2018-11-14 18:35] JasonStoltz opened #18 "Move searchOptions to be part of connector"
searchOptions are for additional, API specific parameters that we don't support. For that reason, they should be part of the connector, NOT the driver.

[2018-11-14 18:36] JasonStoltz opened #19 "Make result_fields, search_fields, and highlighting hard configuration on the Driver, and not just part of searchOptions"
Make result_fields, search_fields, and highlighting hard configuration on the Driver, and not just part of searchOptions

[2018-11-19 14:34] JasonStoltz opened #23 "Config should match App Search API config"
When configuring Search UI, we should use the App Search API as the format for configuration.

For example, right now, we have a `facetConfig` configuration option. It has additional properties that do not match App Search. Those should be pulled out into different configuration, to alleviate any confusion.

[2018-12-12 21:49] #5 closed, assigned to nobody

[2018-12-13 20:24] #7 closed, assigned to nobody

[2018-12-13 21:22] #6 closed, assigned to nobody

[2018-12-17 16:57] JasonStoltz opened #27 "Add Layout Components to react-search-components"
It would be neat to add basic layout components to `react-search-components`.

You'd get layout that basically allows you to implement a simple 2 column, facets on left, search bar on top.

This would make it easy for a quick an easy implementation.

[2018-12-19 21:47] #23 closed, assigned to nobody

[2018-12-21 00:05] #18 closed, assigned to JasonStoltz

[2018-12-21 00:05] #19 closed, assigned to JasonStoltz

[2018-12-21 13:41] JasonStoltz opened #33 "When using dynamic date range filters, reloading the page will not correctly select a Date Range in Facet options."
For example, if you select a "Last 30 Minutes" filter, and reload the page, the option that is generate for the last 30 days will not match what is stored in the URL. This causes the filter go be applied, but not show up as a selection in the Facet Filter.

Possible solutions:
- Have a new component, called "Filter Breadcrumb", which gives you breadcrumbs for all applied filters and lets you selec

[2018-12-21 20:17] #12 closed, assigned to nobody

[2018-12-21 20:17] #9 closed, assigned to nobody

[2019-01-02 19:51] JasonStoltz opened #37 "Document withSearch in README"

[2019-01-02 20:34] #27 closed, assigned to nobody

[2019-01-10 08:47] xycloud opened #41 "would you mind to provide a online demo?"

[2019-01-11 15:14] omegahm opened #42 "Numeric filter fails from query parameters"
I have a dataset which includes a numeric field `difficulty`.

I want to filter on this, so I add a filter with `addFilter("difficulty", 2)`. This works great and filters my result set with the difficulty of 2. It also adds `?fv-difficulty=2` to my query parameters. If I then refresh my page I get the following error:

[code]

[2019-01-11 15:58] omegahm commented on #42
I get the same error when using a filter with `location` (as documeted here https://swiftype.com/documentation/app-search/api/search/filters#geo-filters)

[code]

It works when first using it, but if I refresh the page, it's all of a sudden not a number anymore.

The query param here is e.g. `?fv-location%5Bcenter%5D=36.02508454879372%2C-116.84603691101076&fv-location%5Bdistance%5D=300&fv-location

[2019-01-17 13:13] JasonStoltz commented on #42
Yes, unfortunately when we serialize a filter to the url, we lose any notion of its data type, and even the filter type. I'm going to try to change the query string conventions to maintain data type. So for value filters it'd be something like:

filter params have the format:
{f}{v}{n}-{someField}={100}
1 - "f" - meaning "filter"
2 - "v" - filter type, "r" range, "value", or "g" geo
3 - "n" - data

[2019-01-17 19:21] JasonStoltz commented on #41
Yes, this is definitely something we'll plan to provide in the future.

[2019-01-17 22:41] JasonStoltz opened #44 "New URL filter scheme"
How do we represent search parameters from the App Search API in a query string?

Challenge: need to flatten highly nested structure and maintain typing.

Reference: https://swiftype.com/documentation/app-search/api/search/filters

## API Schema

[code]

## Proposed Query String Schema

f_{filterType}{valueType}{andAnyNone}{_sequence}_{fieldName}{[]}={value}

- filterType:
  - “v” for Value
  - “r

[2019-01-17 23:11] omegahm commented on #44
I don't know if it's a problem anymore, but I remember at one point, the URI couldn't exceed a certain number of characters (2048 maybe or something?) I think this is also an important thing to keep in mind when designing this schema.

[2019-01-18 14:39] JasonStoltz commented on #44
I received some great feedback from @orhantoy on this. He suggested simply placing the entire filters JSON in a query string parameter. I really like that approach for a couple of reasons:

1. Way less work now, and in the future if the filters schema changes
2. There is only one API for applying filters. No need to describe how applying filters via the URL works as opposed to via the JSON schema

[2019-01-18 14:42] JasonStoltz commented on #44
@omegahm That's a good point. Definitely something to consider for the future. I would think the query string would only approach that length in very extreme edge cases, and it would only be an issue for particular browsers.

[2019-01-18 14:48] JasonStoltz commented on #44
So if we encode the JSON into a filters parameter (using the one from above as an example) it would look something like this:

[code]

It's fairly long, just about 900 characters, and very ugly to look at, but I think that's probably OK, honestly.

We might even be able to find a way to compress that a bit, since it's unreadable anyway.

[2019-01-18 14:58] orhantoy commented on #44
The alternative I mentioned would look something like

[code]

(Values are not encoded in the example)

[2019-01-18 15:00] JasonStoltz commented on #44
I like that as well. The challenge for me I think would be distinguishing between numeric and string values.

i.e.,

For `filters[all][0][visitors]=1` ... is that a string value or a numeric value? I'd need to know that when deserializing from the URL

[2019-01-18 15:00] orhantoy commented on #44
Just updated my comment with this:

[2019-01-18 15:01] JasonStoltz commented on #44
There might be a library that does that for me, serializes to the format you mention and maintains the type info. Would be cool to investigate.

[2019-01-23 18:41] #42 closed

[2019-01-24 15:41] #37 closed

[2019-01-24 15:41] JasonStoltz commented on #37
Documented.

[2019-01-24 15:42] #44 closed

[2019-01-24 20:31] JasonStoltz opened #46 "Bad error handling In the Site Search Connector"
If an invalid page type is passed, the following error message is triggered:

[code]

Additionally, we need to make it clear in our `App.js` example AND the documentation where you can find your documentType, and also, if it is a crawler based engine that your documentType is `page`.

[2019-01-24 20:41] JasonStoltz opened #47 "Defaut to document type "page" if not specified by user for SiteSearch connector"

[2019-01-26 00:19] omegahm opened #48 "Configurable endpoint for self-hosted Site/App Search?"
Should this URI (https://github.com/elastic/search-ui/blob/master/packages/search-ui-site-search-connector/src/SiteSearchAPIConnector.js#L17) be configurable so that you could point it to a self-hosted or development version of the Site/App Search API?

[2019-01-31 04:51] asjadathick opened #52 "Support for autocomplete/suggestions under the search box"
Adding support for auto complete/suggestions into the search box component would be very handy and useful, especially with sitesearch/app search use cases

[2019-02-01 20:48] JasonStoltz commented on #48
Yes, absolutely, thanks for entering an issue.

[2019-02-01 20:49] JasonStoltz commented on #52
Definitely on the short term roadmap.

[2019-02-05 17:28] JasonStoltz opened #53 "Support for NONE facet selections"
Currently, all facets are treated as AND filters.

I believe that there should be an option on certain Facet component types to make it a NONE filter.

Ex:

[code]

[2019-02-05 17:28] JasonStoltz opened #54 "Support for Geo facet filters"
Currently, if you try to use a Facet on a Geo field, it will not work.

[2019-02-05 17:29] JasonStoltz opened #55 "Rename Facets to FacetFilters"
It best describes what it is, it renders a "facet" and lets you apply "filters" from those selections.

[2019-02-05 17:30] JasonStoltz opened #56 "All components should render pass through props"
View components should provide a means to allow arbitrary properties like "className" and "data-" properties to be passed through.

Container components should pass through all additional properties to View components, so users can customize View properties through the container.

I.e.,
[code]

`onSelectAutoCompleteResult` is a property of the view, not the container, so it get passed through.

Ho

[2019-02-05 17:30] JasonStoltz opened #57 "Log clickthrough in Search UI in Site Search connector"

[2019-02-05 17:31] JasonStoltz opened #58 "Add a "reset" action"
This action should take the search back to its initial state.

[2019-02-05 17:32] JasonStoltz opened #59 "Make note when a particular Facet view requires a disjunctive facet."
For example, a dropdown facet option requires a disjunctive facet, because it has no means of removing the facet once applied.

[2019-02-05 17:34] JasonStoltz opened #60 "ResultsPerPage component should have configurable options"
Currently, the options "20", "40", and "60" are hardcoded as options in the ResultsPerPage components: https://github.com/elastic/search-ui/blob/master/packages/react-search-ui/src/containers/ResultsPerPage.js#L38.

This should be configurable, as users may want options other than these defaults.

[2019-02-05 17:34] JasonStoltz opened #61 "List minimum node and npm versions required"

[2019-02-05 17:35] JasonStoltz opened #62 "‘Results’ is not exported from ‘@elastic/react-search-ui’"
@goodroot Reported this while testing. This should be investigated to make sure it is not an issue.

[code]

[2019-02-05 17:37] JasonStoltz opened #63 "CSS import error on rc-pagination.min.css"
This CSS file need to be bundled in our CSS build, otherwise the consuming application needs to have a CSS bundler enabled.

Quote:

I try to use the `import "@elastic/react-search-ui-views/lib/styles/styles.css";`, I get an error from webpack `Error: Failed to find '~rc-pagination/dist/rc-pagination.min.css'`

Error on CSS build:

To replicate in Rails project:
rails new test-app --webpack=react

[2019-02-05 17:39] JasonStoltz opened #64 "Code example in react-search-ui-views README does not work"
It uses class instead of className

[2019-02-05 17:40] JasonStoltz opened #65 "Implement method of combining actions"
See Debounce usage in elastic-co-search: https://github.com/elastic/elastic-co-search/commit/bb07ff13d756264d83f6a6776c14dcc106ee701d

Two actions should be able to be called one after the other, and both actions should be applied in batch, in just a single API call.

Document this as an Advanced Feature in the README

[2019-02-05 17:41] JasonStoltz opened #66 "Remove styles.css from source"

[2019-02-05 17:42] JasonStoltz opened #67 "Change mapContextToProps / mapViewProps recommendation"
Currently, we make the following recommendation: https://github.com/elastic/search-ui/blob/master/packages/react-search-ui/README.md#customizebehavior.

I believe, for simplicity, we can actually remove this recommendation, along with the underlying `mapContextToProps` function (`mapViewProps` doesn't actually exist yet).

Mads was able to accomplish exactly what he needed by using wrapper compone

[2019-02-05 17:44] JasonStoltz opened #68 "Properly indicate in SiteSearch connector what is supported, and what is not."
To consider:

1. Show console warnings whenever an unsupported feature is used.
2. Show a feature grid in the connector README indicating what is supported, and what is not.

- Disjunctive facets
- sort option on facets
- grouping
- analytics
- nested filters

[2019-02-05 17:48] JasonStoltz commented on #52
Implemented in Reference UI project, need to backport to this project: https://github.com/swiftype/app-search-reference-ui-react/pull/27

[2019-02-05 17:48] JasonStoltz opened #69 "result_fields typo in README ... says "boolean" type"

[2019-02-05 17:51] JasonStoltz opened #70 "When there is no side content, use up the entire screen."
This was implemented in the Reference UI.

https://github.com/swiftype/app-search-reference-ui-react/releases/tag/v1.1.0

[2019-02-05 19:21] #61 closed

[2019-02-05 19:21] #64 closed

[2019-02-05 19:21] #69 closed

[2019-02-05 20:04] JasonStoltz opened #74 "Add a Live Search feature"
Live Search is a search that is performed as a user types in a search box.

As part of this change, I believe that instead of tracking the SearchBox's "value" in local state, we should use the global `searchTerm` value from the provider state.

This has a couple of of advantages:
- The SearchBox can be cleared from elsewhere in the app, using the "reset" action, for instance.
- We can key off chan

[2019-02-06 13:30] #58 closed

[2019-02-06 13:35] JasonStoltz opened #75 "Error on SearchProvider Unmount"
Basically, we need to make sure we unsubscribe from the driver on unmount of SearchProvider.

[2019-02-06 14:26] JasonStoltz opened #76 "Having callbacks accept an event as a parameter can be clunky to override."
https://github.com/swiftype/marketing-website/pull/376#discussion_r252943923

For example, Mad's had to mock a synthetic event to get this working.

[2019-02-06 14:33] JasonStoltz opened #77 "Have a "Default" state as well as an "Initial" state."
When initializing a SearchProvider, there are two different scenarios for passing in state.

Default sate: The default state of the application. The default state is the state that is displayed if no request has been made, and the state that the application is returned to after a "reset" action is performed. An example would be setting a default sort on data.

Initial State: The initial state woul

[2019-02-06 14:33] JasonStoltz opened #78 "How to make this work with SSR?"

[2019-02-06 14:34] JasonStoltz commented on #78
Relates to:
https://github.com/elastic/search-ui/issues/77

[2019-02-06 14:35] JasonStoltz commented on #77
Relates to:
https://github.com/elastic/search-ui/issues/13
https://github.com/elastic/search-ui/issues/14
https://github.com/elastic/search-ui/issues/78

[2019-02-07 17:17] JasonStoltz opened #80 "Reset action is not syncing to URL"

[2019-02-07 21:15] JasonStoltz opened #82 "Need access to entire ResultItem in Result view"
Currently, raw values are escaped, so there is no way to access the raw value if you actually do want to render some html.

Consider simply passing through the entire ResultItem.

A url field, or image url needs to be raw, for example.

[2019-02-07 22:16] JasonStoltz opened #83 "endpointBase configuration in App Search connector is clunky."

[2019-02-11 13:25] #80 closed

[2019-02-13 12:39] JasonStoltz opened #89 "Ability to prevent filters resetting on new searches at an individual filter level"
When a new search is performed, do NOT clear this filter. This should be an option on facets, and also an option on `setFilter` / `addFilter` actions.

This is mentioned here:

https://github.com/elastic/search-www.elastic.co/issues/29

ex.

[code]

[code]

It's important to note that you can currently take an all-or-nothing approach when updating the search term using the [shouldClearFilters](htt

[2019-02-13 19:13] #66 closed

[2019-02-13 19:22] #63 closed

[2019-02-13 19:30] #74 closed

[2019-02-14 17:36] JasonStoltz commented on #54
Blocked by: https://swiftype.atlassian.net/browse/ENG-1445

[2019-02-14 17:37] JasonStoltz commented on #54
It would be possible to use facets if they only contain a "to". "to" could be converted to "distance" in a Geo Filter. So you could do a facet selection like "within 5 miles", "within 10 miles", and "within 20 miles", etc.

[2019-02-14 20:22] JasonStoltz opened #90 "Range facet filters won't show value if they don't have a name"
They will just show blank. Need to fallback to something else when a name is not provided.

[2019-02-15 21:58] JasonStoltz opened #93 "This library should work with a "strict" Content Security Policy"
For reference: https://github.com/elastic/eui/issues/1431

[2019-02-15 21:59] JasonStoltz opened #94 "Custom Actions"
On swiftype.com search, there was a case where the developer wanted to do some additional queries for faceting.

Basically, they wanted to make a query, and then make another query for additional facets. None of our actions support this.

One solution for this is to allow the registering of "Custom Actions".

Currently, "actions" are standalone functions that are simply "mixed in" to our main driv

[2019-02-15 22:05] JasonStoltz opened #95 "Ability to combine disjunctive Facets"
Currently, if you have two disjunctive facets, say "states" and "visitors".

If you filter on visitors, the visitors facet will NOT change, but the states will. The inverse of that would be true as well.

It would be ideal if you could fix it so BOTH of those facets stay fixed, when a filter is applied to either field.

I'm thinking of something like an "AND" flag when defining a disjunctive facet

[2019-02-15 22:10] JasonStoltz opened #96 "Flow through data and filters"
The idea here, is in order to make this library usable with ANY backend, to simply flow through as much data as possible, and not have our code care about specific details of the data.

For instance, if our Result component cares how the Search Result data is structured, it makes it less reusable. If, however, our library simply takes care of the orchestration of HOW a result gets to a Result comp

[2019-02-18 16:05] JasonStoltz opened #97 "Ensure browser backwards"
Brian Earwood mentioned that in IE, an error is thrown due to `startsWith` being used.

[2019-02-19 18:12] JasonStoltz opened #98 "Make it more apparent on main README that users most likely want to proceed directly to React README at this point. It currently takes a bit of reading before realizing that."

[2019-02-19 18:20] JasonStoltz opened #99 "Document the Data Model"
People will need to know what the data model looks like in order to work with things like filters, facets, and results.

[2019-02-19 18:30] JasonStoltz opened #100 "Document example of using JUST an autosuggest / autocomplete box on a page."
Dependent on this actually being implemented

[2019-02-19 19:25] JasonStoltz opened #101 "Unicode character support"
hey Jason, i noticed something with the search-ui example code that probably isn't a blocker to launch but wanted to mention

if you use the supplied credentials and use that app search engine for parks, the Results component doesn't successfully render unicode characters it looks like

you can see it in the header here and in the title + description + id fields

not sure if that's somethihng to f

[2019-02-21 18:37] JasonStoltz opened #104 "Auto complete suggestions"
This was implemented in the Reference UI. It needs to be backported to Search UI.

https://github.com/elastic/search-ui/issues/52

https://github.com/elastic/search-ui/issues/113

[2019-02-21 18:38] JasonStoltz opened #105 "Auto complete results"
Different than suggestions.

https://github.com/elastic/search-ui/issues/52

Design: https://github.com/elastic/search-ui/issues/113

- [x] Move query configuration to a separate "queries.search" field in Search UI config
- [x] Update setSearchTerm action to include have an "autocomplete" option which invokes additional API call and stores results in state
- [x] Add configuration for "autocomplete

[2019-02-21 18:40] JasonStoltz opened #106 "Filter Breadcrumbs component"
Show all filters applied, in breadcrumbs with "x"s to remove them.

<img width="1434" alt="filter-breadscrumbs" src="https://user-images.githubusercontent.com/1427475/53259374-e7025a80-369c-11e9-8ea5-6d0489ad8ea6.png">

These could be filters that are listed above the top of the page as breadcrumbs, or it could be a `ul` type list that is meant to be displayed in the left column of the page.

[2019-02-22 15:03] JasonStoltz commented on #90
I am making the name "Required", so this will be a non issue.

[2019-02-22 16:51] JasonStoltz opened #107 "Connector shouldn't have to create ResultItem and ResultList, just particular JSON format"

[2019-02-22 16:58] JasonStoltz opened #108 "BooleanFacet component"
The following gist contains a simple example of a boolean facet filter component, as well as a gif demonstrating the behavior.

https://gist.github.com/JasonStoltz/4d26d41cfa354fdbf7b6bcd2978516f5

I would like to turn this into an available option for Facet filters. This would be another "view" available for the "Facet" component, similar to "SingleLinksFacet", "SingleSelectFacet", and "MultiChec

[2019-02-22 17:10] JasonStoltz opened #109 "Document browser compatability"

[2019-02-22 17:18] JasonStoltz opened #110 "Enable connector-less usage"
Connector-less usage means that in lieu of configuring a "connector" on a driver, you could instead provide handlers for individual event hooks. Handlers are exposed for any event where the UI would need to interact with an API to fetch data, perform a search, or report analytics events.

With a connector:
[code]

Without a connector
[code]

Combination of the two
[code]

Available Handlers:

- on

[2019-02-25 16:20] PhaedrusTheGreek opened #111 "Integration between search-ui and elastic-charts?"
Seems that there is some demand to expose Kibana-style visualizations to the public internet, bypassing authentication.  We currently have some iframe/proxy techniques to make that happen, but no OOTB support.  Wondering if AppSearch would be appropriate for such a use-case by exposing [Elastic Charts](https://github.com/elastic/elastic-charts#readme) in the same way search-ui exposes the search A

[2019-02-25 16:22] JasonStoltz commented on #111
Love the idea @PhaedrusTheGreek. Placed it in our backlog, will plan to do some sort of spike on this in the near future.

[2019-02-25 18:53] JasonStoltz opened #112 "Accept nested OR for Range filters"
Requires a change in App Search.

[code]

[2019-02-26 17:00] JasonStoltz opened #113 "Proposal for Autocomplete"
The term "Autocomplete" refers to the feature, where when text is entered in a search box, some sort of search is performed, and results of which are displayed in a dropdown underneath the search box.

Our Autocomplete can perform two types of completions:

- Results - A search is performed for individual documents based on the current term. The Results of that search are shown, and clicking on a

[2019-02-26 18:19] JasonStoltz opened #114 "Connectors should accept UI State and convert to API calls"
Current, Connectors accept App Search query DSL and convert it to the particular API syntax.

Instead, they should be responsible for receiving a Search UI State and converting it to their particular API syntax.

This is seems cleaner and requires going from Search UI State > App Search Syntax > Another API syntax. It cuts out the middle step.

[2019-02-26 18:22] JasonStoltz opened #115 "Dynamic search fields"
The use case would be something like a Search Box with a Select next to it which lets you specify which fields to search within.

This would basically become part of the input state.

[2019-02-27 13:16] JasonStoltz commented on #11
The following PR was merged to the App Search API which should enable us to fix this issue: https://github.com/swiftype/website/pull/7068#event-2167835009

[2019-02-27 15:10] JasonStoltz commented on #54
Unblocked by https://swiftype.atlassian.net/browse/ENG-1445

[2019-03-05 21:15] JasonStoltz opened #117 "Proposal for Web Based version of Search UI"
The React version of Search UI requires the following:

1. You need be using React in your project.
2. You need all of the tooling to build a react project, which can be quite hefty.

A Web Based version of Search UI would effectively be a wrapper around the React version, that you could include directly via a script tag.

1. You could use this in any project. React dependency would be bundled int

[2019-03-05 21:26] JasonStoltz commented on #113
Noting so I don't loose track of the feedback. @brianearwood mentioned that we should think about how you can configure the sections, like nested headings, etc. These should probably be configurable props.

[2019-03-05 21:31] JasonStoltz commented on #113
Documenting more feedback:

Offer some really opinionated/thorough autocomplete styles in something like search-ui.  Ex:  https://cdn-images-1.medium.com/max/2600/1*t3HX8lrXYZV8BmwkqNA4bQ.png

Maybe we could have a few different "views" that you could use. Some more opinionated than others. The more opinionated ones would require some specific things ... like if you wanted to have a very thorough

[2019-03-06 13:30] byronhulcher commented on #117
I have no idea of the viability of this, but it could be worthwhile looking into https://preactjs.com/, which has a smaller size than React, for bundling w/ search-ui.  Upside could be some KB saved, downside could be preact-specific bugs that would surface in this bundled version.  Their goal is 1:1 parity with React using he same API (they just added hooks! https://github.com/developit/preact/is

[2019-03-06 17:15] JasonStoltz opened #118 "Release 0.6.0"
- [x] #105 Auto Complete
- [ ] #104 Auto Suggest
- [ ] Documentation

[2019-03-06 20:59] #99 closed

[2019-03-06 20:59] #90 closed

[2019-03-06 20:59] #107 closed

[2019-03-06 21:00] #57 closed

[2019-03-06 21:00] #8 closed

[2019-03-06 21:00] #15 closed

[2019-03-07 14:19] afoucret opened #120 "Facets improvements specifications"
- [ ] Disjunctive facets design
- [ ] Facet coverage rate
- [ ] Histogram

[2019-03-07 18:49] JasonStoltz opened #122 "Marketing Site Design"
Designs are here:

https://www.figma.com/file/c9NM7zmdJIwXzvePPGcP6GqR/Search-UI-Landing-Page

[2019-03-07 18:49] JasonStoltz opened #123 "Provide Copy for Marketing Site"

[2019-03-07 18:49] JasonStoltz opened #124 "Implement Marketing Site Preview App for Marketing Site"

[2019-03-07 18:49] JasonStoltz opened #125 "Implement Marketing Site Design"

[2019-03-07 18:51] JasonStoltz opened #126 "Search UI 1.0"

[2019-03-07 18:51] JasonStoltz opened #127 "README Pass and Write Tutorial"

[2019-03-07 21:24] JasonStoltz opened #128 "OR should be the default behavior for facets, not AND"
Aurelien mentioned that he's rarely, if ever ran across a situation where a multi-select AND is used over a multi-select OR.

[2019-03-07 21:25] JasonStoltz opened #129 "Rename "disjunctive" facets to "sticky" facets"
The feature I've been calling "Disjunctive Facets", most people know as "Sticky Facets". I like that term much more, as it's much simpler to wrap your head around. That, combined with the fact that people are already familiar with the term "Sticky Facets", makes me want to update both Search UI and the JS Client to use the terminology "Sticky Facets".

[2019-03-07 21:29] JasonStoltz opened #130 "Rename Facets to FacetFilters"
This is more descriptive of what the components actually are.

[2019-03-07 21:31] JasonStoltz opened #131 "Filterable Facet Lists"
Have `Facet` component that has a text box at the top which lets you live filter facet filter options. This filtering would all be done client side. This would help finding facet values to apply when the list of facet options are very long.

This would be another "view" available for the "Facet" component, similar to "SingleLinksFacet", "SingleSelectFacet", and "MultiCheckboxFacet".

Something to

[2019-03-08 00:45] jonasll commented on #123
https://docs.google.com/document/d/1hpQTSjyONEea1hmCYdY6FDISeDuDBz6BL0CEqysE0m8/edit?usp=sharing

@goodroot reviewing now.

[2019-03-08 21:59] #114 closed

[2019-03-08 22:02] JasonStoltz opened #134 "Move query configuration to the Connector"
Since in a "connector-less" setting, it's irrelevant. You'll be making all of the API calls yourself. The particular query configuration doesn't matter driver itself, it's only important in the connector.

This is also just a cleaner separation of concerns.

[2019-03-08 22:04] JasonStoltz commented on #112
This is a non-issue. You apparently already can do this with the following syntax:

[code]

[2019-03-08 22:04] #112 closed

[2019-03-08 22:07] JasonStoltz commented on #96
We're doing a better job of this now.

[2019-03-08 22:07] #96 closed

[2019-03-14 14:59] JasonStoltz opened #137 "Take inspiration for README from Downshift"
Great high level explanation of the design goal: https://github.com/downshift-js/downshift#this-solution

Generally speaking, similar to us because:
- Concept of "state" and "actions"
- Headless
- All in a single README
- Simple usage vs Advanced usage

[2019-03-28 12:26] JasonStoltz opened #146 "Handle multiple facets on the same field"
Our API allows multiple facets to be defined on the same field, but there is no way to configure two Facet components to work with multiple facets on the same field.

Currently, our system assumes there is at max, one facet for each field.

The concerns around this are as follows:
- When applying a filter, how do we know which facet to apply the filter to?
- Right now, we are applying global filte

[2019-03-28 12:36] JasonStoltz opened #147 "Reference facets by name, not just field name"
I think this may only be useful for distinguishing between multiple facets on the same field.

Specifically, if you have 2 faces on "field1", when you create a <Facet field="field1" />, how does it know which field you are referring to?

Relates to #146

[2019-03-28 12:38] JasonStoltz opened #148 "This project should distinguish between filters and facet filters"
Note: Global filters *should* be applied to autocomplete, but not facet filters.

[2019-03-28 12:38] JasonStoltz opened #149 "Handle possibility of results that have Array values"

[2019-03-28 12:38] JasonStoltz opened #150 "This project should include source maps"

[2019-03-28 14:31] JasonStoltz opened #151 ""Did You Mean" / Spelling support"
https://swiftype.com/documentation/site-search/searching/spelling

[2019-04-01 02:31] xycloud commented on #41
hi @JasonStoltz , any progress?

[2019-04-01 12:20] JasonStoltz commented on #41
Hi @xycloud, no progress on an online demo. The README is fairly comprehensive as is: https://github.com/elastic/search-ui/blob/master/packages/react-search-ui/README.md. As we push towards a 1.0 release we will be putting some more thorough tutorials together as well as some online examples.

[2019-04-01 20:46] JasonStoltz opened #156 "Remove or Adapt additionalOptions"
I think this should be come two things:

1. "preQuery" hook so a user could adapt queries however they want, and add logic.
2. In "queryConfig" any arbitrary parameters that are provided should be passed through.

[2019-04-01 20:51] JasonStoltz opened #157 "Integration Tests"

[2019-04-04 19:06] JasonStoltz opened #160 "Sub-optimal approach to render props causing issues"
Container components are currently handling render props by rendering them like this:

[code]

This actually causes the component to fully re-mount on every change.

We should correctly render them like this:

[code]

This issue helped me track down this issue: https://github.com/javivelasco/react-tunnels/issues/8

[2019-04-08 12:03] #160 closed

[2019-04-10 12:45] JasonStoltz opened #163 "Allow a user to hide the button on SearchBox"
[code]

So I would replace the `inputProps` with an `inputView` function. You could then arrange the text input and submit button however you'd like. You could choose to omit the button completely in this case. Or, you could choose to apply a class, or whatever you'd like. You could inject an icon if you needed to do that... this would give you the maximum amount of flexibility I believe.

The onl

[2019-04-11 11:20] JasonStoltz opened #169 "Add debug option to SearchDriver"

[2019-04-12 15:57] JasonStoltz opened #176 "Do not rewrite URL on initial load"
![latest](https://user-images.githubusercontent.com/1427475/56051307-2acc2480-5d1c-11e9-9ff1-ddd1cdcef49b.gif)

Some additional user details here: https://github.com/elastic/search-ui/issues/434

[2019-04-12 16:32] JasonStoltz opened #177 "Unsubscribe all async listeners from SearchDriver on unMount"

[2019-04-12 16:32] JasonStoltz commented on #177
This was causing issues when navigating within an SPA, as additional drivers were set up and never unsubscribed.

[2019-04-12 16:41] #104 closed

[2019-04-12 16:41] #105 closed

[2019-04-12 16:42] #169 closed

[2019-04-12 17:01] #82 closed

[2019-04-15 13:30] #177 closed

[2019-04-15 18:12] JasonStoltz commented on #169
Implemented by #170

[2019-04-15 18:20] JasonStoltz commented on #82
Fixed by https://github.com/elastic/search-ui/pull/182

[2019-04-15 18:21] JasonStoltz commented on #82
Fixed by #175 and #182

[2019-04-15 18:46] #118 closed

[2019-04-15 21:34] JasonStoltz commented on #176
Changing the behavior to NOT push a new state to the URL is easy. However, I'm struggling with a larger design challenge of how to treat "initialState" configuration. Specifically, how it relates to url state.

"initialState", to me, is meant to be the "state" of the application when it initially loads, for the first time. So before a user has taken any action.

The challenge arises after a user n

[2019-04-16 11:30] JasonStoltz opened #185 "Make library schema aware"
This would requiring an initial API fetch to determine the schema.

This would allow us to NOT maintain value types in the URL. For instance, we currently need to pre/post fix numbers in filter parameters with "n_{number}_n".

It could also allow us to make rendering decisions automatically based on data type. For instance, if we knew a field was a date, we render it as a formatted date, and not j

[2019-04-16 11:33] JasonStoltz opened #186 "There should be a pattern for state helpers / selectors"
Exampels:

- It should be easier to select a currently selected filter value from state
- It should be easier to work with results objects, like `getRaw` and `getSnippet` helpers.

[2019-04-16 11:40] JasonStoltz opened #187 "There should be a clearer pattern for view props vs container props."
For example, certain properties are only needed for display.

[code]

Since this property is ONLY required by the view of this component, and depending on which view is used, may not even be needed by other views. Because of this, it would be ideal to have these "view" only props be separate from properties on the container.

For example:

[code]

Ideally though, it would be a bit easier than that

[2019-04-16 14:52] byronhulcher opened #189 "Consider renaming options for `SortOption`"
from https://github.com/elastic/search-ui/blob/master/packages/react-search-ui/src/types/SortOption.js:
[code]

I think I think the use of `name` and `value` is confusing.  Perhaps `title` and `field`? I want to make sure we're consistent though, so if this is a pattern we use elsewhere I want to make sure we're considering all its implementations.

[2019-04-16 15:25] katydecorah opened #190 "Ability to tab through results in autocomplete"
When I try to tab or arrow down during autocomplete the list disappears. I think it would be helpful for keyboard-only users to have the ability to tab through these results.

[2019-04-16 15:31] katydecorah opened #191 "Unable to pass className through inputProps in SearchBox"
Since our CSS framework relies on classes, I'd like to be able to pass classes to SearchBox so that I could avoid using a view (to help reduce complexity) on this component.

[2019-04-16 16:09] JasonStoltz commented on #189
Hey @byronhulcher. I chose "name" and "value" because it matches the terms most often used for dropdown options. However, "field" does seem more appropriate than "value", and "title" seem better than name. I like this proposal.

[2019-04-16 16:15] JasonStoltz commented on #190
Hi @katydecorah.

What version of this library are you using, and would you be able to post a code snippet?

The `SearchBox` component with `autocompleteResults` enabled uses https://github.com/downshift-js/downshift out of the box, which is WAI-ARIA compliant and supports keyboard navigation, so it *should* be working for you.

[2019-04-16 16:24] JasonStoltz commented on #176
The solution I'm proposing for this is to add an additional parameter to the URL to indicate whether or not this is the initial page load.

If it IS NOT present, then assume it IS the initial application load, and load the `initialState`.
If is IS present, then this is not the initial application load, and DO NOT load the `initialState`

[2019-04-16 18:12] katydecorah commented on #190
@JasonStoltz my mistake, looks like arrow down is working as expected 🙇‍♀️

[2019-04-16 18:12] #190 closed

[2019-04-17 18:04] JasonStoltz commented on #53
Implemented by https://github.com/elastic/search-ui/pull/192

[2019-04-17 18:04] JasonStoltz commented on #10
Implemented by https://github.com/elastic/search-ui/pull/192

[2019-04-17 18:04] #10 closed

[2019-04-17 18:04] #53 closed

[2019-04-17 18:04] #75 closed

[2019-04-17 18:43] JasonStoltz opened #194 "There should be some way to initiate an initial, empty query when the UI loads."
Here is an example:

When navigating to the sandbox example at http://localhost:3000, currently, you will see no results.
When navigating to the sandbox example at http://localhosts:3000?q=park, you WILL see results, because a 'q' parameter is being passed and a query is performed.

There should be a way to tell Search UI to also trigger a search and show results in the first example, where no 'q'

[2019-04-18 12:11] JasonStoltz opened #199 "Ability to opt-out of certain parameters tracked in URL state"
The use case is something like this:

As a developer, I want to hardcode certain parameters and thus would not like them to be exposed in the URL.

From an implementation perspective, it IS possible to hardcode parameters by configuring them in the `searchQuery` option.

Example:
[code]

This hardcodes the value to 6, so it is always sent as 6 on API requests.

However, "size" (the corresponding U

[2019-04-18 14:28] JasonStoltz opened #200 "Components disappear in certain cases."
In the `Sorting.js` container, we have the following code:

[code]

The intent of this code was to hide the Component on the initial load of the Search UI experience, and not show it until it is needed.

There are few issues with this.

1. Individual UI components should not be responsible for this. This is something that should happen at a top level IF it is needed. Not every user of the API will

[2019-04-18 15:01] JasonStoltz commented on #200
I think the *right* solution to this is to remove that check for any containers where it exists... mainly Sorting, ResutsPerPage, and PagingInfo.

We'll then need to add some sort of check to App.js in the Sandbox application to detect the initial state and hide everything if it is the initial, unsearched state.

I believe the correct state property to check for this state is "wasSearched".

[2019-04-18 20:14] JasonStoltz commented on #56
Implemented the passthrough of className, which is the most important prop to pass through. I'm undecided on whether or not it's a good idea to pass through ALL props or not.

[2019-04-18 21:00] #56 closed

[2019-04-18 21:00] #191 closed

[2019-04-19 16:16] aznick opened #214 "Add mobile responsiveness"
Make the default components more mobile friendly.

We could add components tuned for mobile or add responsive transformations to existing components (with a preference for the former).

With the current styles, the experience is quite poor on mobile:

https://search-ui-stable.netlify.com/

<img width="701" alt="React_App" src="https://user-images.githubusercontent.com/1427475/60988282-4641ce00-a31

[2019-04-21 17:40] m-sureshraj commented on #199
Hi @JasonStoltz

I would like to contribute to the Search-UI, but I haven't worked with the Search-UI components before & not much familiar with repo codebase yet (I'm working on it). I guess I can start with a small task.

Thanks.

[2019-04-22 11:26] byronhulcher commented on #189
Ahhh the form thing makes sense.  I think it makes sense to keep it in that case.

[2019-04-22 12:02] JasonStoltz commented on #199
@m-sureshraj This issue might actually be a little tricky. I'm unsure of exactly how this should work at this point, so it will require a bit of thought. You're welcome to play around with it and submit a PR as a proposal.

However, I also marked some other issues with the "Good first issue" tag. These are issues isolated to specific components, which I think is a good place to start with Search U

[2019-04-22 15:42] m-sureshraj commented on #199
Thanks for the detailed response @JasonStoltz. I can pick up the #60

[2019-04-22 15:52] m-sureshraj commented on #60
I would like to work on this issue. How can I assign this issue to myself?

[2019-04-22 19:24] JasonStoltz commented on #60
@m-sureshraj For now, I'd say just comment here (like you've done) and enter a PR.

[2019-04-23 19:47] katydecorah commented on #163
I was thinking that this could be implement as an object, `buttonProps`, that gets passed to the button much like `inputProps`. This way the button can be customize with class names. In my use case, I would hide the button, but passing props would make the component highly customizable.

[2019-04-24 11:37] JasonStoltz opened #216 "Query Suggestions should appear above Results in the Autocomplete dropdown"
This is the more common UI pattern and the right way to have the default view for Autocomplete.

This is, however, a breaking change. Labeling it as thus.

[2019-04-24 12:05] JasonStoltz opened #217 "Facets cursor should be a pointer on checkboxes on hover"

[2019-04-25 13:49] JasonStoltz commented on #163
@katydecorah The approach I had in mind looks something like this:

[code]

So I would replace the `inputProps` with an `inputView` function. You could then arrange the text input and submit button however you'd like. You could choose to omit the button completely in this case. Or, you could choose to apply a class, or whatever you'd like. You could inject an icon if you needed to do that... this

[2019-04-25 14:03] katydecorah commented on #163
@JasonStoltz yes, that implementation ticks all my boxes and makes the component even more customizable 💯

[2019-04-25 17:47] #200 closed

[2019-04-25 18:40] JasonStoltz opened #223 "Significant performance issues"
There are significant performance issues in a demo use case internally at Elastic.

The setup is Gatsby + Styled components. The render time for `Facet` components on the page seem to be very computationally expensive.

With autocomplete enabled, each facet is rendering twice, for each state update associated with an autocomplete query.

There are few possible things that could being going on here

[2019-04-26 12:40] #216 closed

[2019-04-26 12:42] #217 closed

[2019-04-28 09:34] m-sureshraj commented on #60
PR - https://github.com/elastic/search-ui/pull/224

[2019-04-28 11:43] m-sureshraj commented on #131
@JasonStoltz I can implement this feature. 👍

[2019-04-29 11:27] JasonStoltz commented on #131
Thank you @m-sureshraj, I'm excited to hear that. We have a Gitter set up for this projects, feel free to ask any questions there and we will be quick to respond: https://gitter.im/elastic-search-ui/community.

[2019-04-29 11:34] m-sureshraj commented on #131
Hi, I have already joined the Gitter group. 🙂 Thanks @JasonStoltz

[2019-04-30 13:04] #110 closed

[2019-05-01 16:45] #98 closed

[2019-05-02 19:27] #60 closed

[2019-05-06 18:57] #67 closed

[2019-05-06 18:57] #100 closed

[2019-05-06 20:21] #59 closed

[2019-05-06 20:22] JasonStoltz commented on #59
Noted generally that some configurations of Facets require disjunctive previously.

[2019-05-06 20:22] #68 closed

[2019-05-06 20:22] JasonStoltz commented on #68
Done previously.

[2019-05-07 11:40] #189 closed

[2019-05-08 11:10] JasonStoltz opened #231 "Pressing "escape" on the autocomplete can cause an error"
react-dom.production.min.js:4283 TypeError: Cannot read property 'suggestion' of null
    at t.handleNotifyAutocompleteSelected (SearchBox.js:236)
    at Object.onChange (SearchBox.js:247)
    at r.<anonymous> (downshift.esm.js:584)
    at ra (react-dom.production.min.js:4146)
    at na (react-dom.production.min.js:4132)
    at Pu (react-dom.production.min.js:5825)
    at Tu (react-dom.production.

[2019-05-09 16:12] JasonStoltz opened #235 "Support for dynamic query configuration"
When a search experience loads, things like

- sort options
- facets
- search fields
- results fields

may need to be dynamically pulled in from somewhere. Additionally, the facets may need to be dynamic based on current selections, so those facets may change as data changes.

This should be able to updated dynamically. It may be possible already, and if it is, we just need to document and example

[2019-05-10 14:17] JasonStoltz opened #236 "The behavior of "raw" in result_fields is not consistent in the Site Search connector. A value is ALWAYS returned in raw, regardless of one is specified."

[2019-05-10 14:17] JasonStoltz opened #237 "There should be a very clear spec for connectors interface"
There should be a documented spec under the "Connectors" section of the README.

Additionally, this spec should be validated, so when a connector passes in data, there will be a useful validation error message if it does not meet the spec.

[2019-05-10 14:19] #137 closed

[2019-05-10 14:19] JasonStoltz commented on #137
Reworked docs, no longer necessary.

[2019-05-10 15:08] JasonStoltz opened #238 "The behavior of "snippet": "fallback" in result_fields is not consistent in the Site Search connector."
It is currently ignored

[2019-05-10 15:08] JasonStoltz commented on #223
https://www.codebeast.dev/usestate-vs-useref-re-render-or-not/

[2019-05-10 15:09] JasonStoltz commented on #223
branch: `performance-spike`

[2019-05-10 17:00] JasonStoltz opened #239 "Create an Elasticsearch example"

[2019-05-18 11:58] #62 closed

[2019-05-21 15:25] JasonStoltz opened #241 "Each component should accept all html props"
https://reakit.io/docs/styling/

Accepting all HTML props makes it much easier to customize the components in the library.

Example:

In addition to the required and known parameters that PagingInfo accepts, it should also pass through any other prop that it receives:

[code]

To make this change, in the `PagingInfo.js` container, you need to make sure to pass through the additional props to the c

[2019-05-21 15:37] JasonStoltz opened #242 "The Contributor guide should be separate"
It is currently in the "ADVANCED" configuration guide, I think it should be separated into its own "CONTRIBUTING" file, following the pattern of most OS libraries.

[2019-05-21 18:23] JasonStoltz opened #243 "Re-write docs to refer to two APIs: "Components", and the "low-level API""
high-level API = components
low-level API = actions / state

Update: Use suggestions here: https://github.com/elastic/search-ui/pull/258#discussion_r292409675

[2019-05-21 18:24] JasonStoltz opened #244 "Add a "useSearch" hook as alternative to "withSearch""
This is just a more modern API

zustand has a good example of what our hook might look like:

https://github.com/react-spring/zustand

[2019-05-21 18:24] JasonStoltz opened #245 "Discuss CSS in JS and inline styles in "Styling" section of the docs. https://reakit.io/docs/styling/"

[2019-05-21 18:24] JasonStoltz opened #246 "Discuss Bundle Size and Tree Shaking in docs. https://reakit.io/docs/bundle-size/"

[2019-05-21 18:29] #239 closed

[2019-05-24 20:13] m-sureshraj commented on #131
@JasonStoltz https://github.com/elastic/search-ui/pull/248

[2019-05-26 07:41] m-sureshraj commented on #223
@JasonStoltz

A demo repo would be very helpful.

[2019-05-26 09:18] m-sureshraj commented on #244
@JasonStoltz Can I work on this?

[2019-05-28 12:56] JasonStoltz commented on #223
@m-sureshraj For sure. I'm working on a PR for this now, I'll illustrate the issues in more depth there!

[2019-05-28 12:56] JasonStoltz commented on #244
@m-sureshraj Yes! I'm going to publish a PR very soon for performance issues that will relate to this. So I'd say hold off for that PR.

[2019-05-28 14:55] JasonStoltz commented on #244
@m-sureshraj https://github.com/elastic/search-ui/pull/249

[2019-05-28 14:56] JasonStoltz commented on #223
@m-sureshraj https://github.com/elastic/search-ui/pull/249

[2019-06-04 14:47] #131 closed

[2019-06-04 18:37] #223 closed

[2019-06-05 17:15] JasonStoltz commented on #194
Hi @delvedor :wave:. You had mentioned this earlier, just wanted to point the issue out to you if you'd like to follow it.

[2019-06-06 17:21] m-sureshraj commented on #244
@JasonStoltz Is there any blockers for this ticket?

[2019-06-10 11:59] JasonStoltz commented on #244
@m-sureshraj No blockers, feel free to work on this. I suggest posting the proposed API for this here for discussion before you get too far along on this task, it could help save you some time on the PR if we have the discussion early.

[2019-06-10 14:58] JasonStoltz opened #256 "Schema for `Result` objects is too strict"
Currently does not allow for nested objects.

May also not allow for other valid types, like Boolean, etc.

[2019-06-10 17:25] m-sureshraj commented on #244
Sure @JasonStoltz, I have not yet started the task. I will post the new API changes here for the discussion soon.

[2019-06-12 11:16] JasonStoltz opened #261 "Update Search UI sandbox to use current position for "location" field"
https://github.com/JasonStoltz/search-ui/blob/f19f034cf82f18f2ca15166ff90ae85b57907378/examples/sandbox/src/App.js

Remaining challenges:

- The way that it is written above, the page won't load until the position is retrieved from the browser. Instead, we need to load the experience and then dynamically update the facet configuration AFTER the location is fetched. This ties into another issue in

[2019-06-12 19:05] #11 closed

[2019-06-12 19:06] JasonStoltz commented on #11
This issue appears to have already been fixed.

[2019-06-12 19:12] JasonStoltz commented on #128
While this may be desirable, OR facets typically require "disjunctive" behavior which can get complicated and inefficient.

[2019-06-12 19:12] #128 closed

[2019-06-12 19:20] JasonStoltz opened #262 "core-js error"
Error:
./node_modules/@elastic/react-search-ui-views/es/index.js
Module not found: Can't resolve 'core-js/modules/es6.array.copy-within' in '/Users/kellen/Repos/swiftype/video-game-search/node_modules/@elastic/react-search-ui-views/es'

Potential fix... remove @babel/polyfill and just use core-js directly: https://babeljs.io/docs/en/babel-polyfill

https://github.com/zloirock/core-js/blob/master/d

[2019-06-13 12:25] JasonStoltz opened #263 "Filter out range facets with 0 values"
<img width="439" alt="filter out things" src="https://user-images.githubusercontent.com/1427475/59432205-c75e8180-8db4-11e9-809f-7ccca5de4f5e.png">

[2019-06-13 19:05] JasonStoltz opened #264 "Add Optional Chaining support to this project"
https://babeljs.io/docs/en/next/babel-plugin-proposal-optional-chaining.html

[2019-06-13 20:36] #263 closed

[2019-06-13 20:36] JasonStoltz commented on #263
I don't think this is necessarily valid.

I think this should be a view concern. A view can decide how to handle 0 values ... either disable, hide, or let them as is.

[2019-06-13 21:08] JasonStoltz commented on #231
Cloud not reproduce

[2019-06-13 21:08] #231 closed

[2019-06-13 21:38] JasonStoltz commented on #101
This was a data issue, simply fixed the data

[2019-06-13 21:38] #101 closed

[2019-06-13 21:40] #33 closed

[2019-06-13 21:40] #54 closed

[2019-06-15 19:34] wizawuza commented on #262
downgrading to core-js version 2.6.5 worked for me.

[2019-06-17 12:26] JasonStoltz opened #265 "Layout issue when there are long values in Results"
<img width="1677" alt="Screenshot 2019-06-17 08 25 18" src="https://user-images.githubusercontent.com/1427475/59604251-a27e4d00-90d9-11e9-8a1a-e905d6ad3c28.png">

[2019-06-17 15:27] #265 closed

[2019-06-17 16:41] #262 closed

[2019-06-17 19:54] JasonStoltz commented on #156
I've been doing some thinking around this.

I don't think we should do this. A couple of reasons:
1. It makes it unclear what is "supported" configuration and what is not. Unsupported configuration should definitely be added in the Connector, NOT in the SearchProvider or SearchDriver.

1. "preQuery" hook so a user could adapt queries however they want, and add logic.

We *should* do this, but we'l

[2019-06-18 17:07] constancecchen commented on #77
Does this also relate to #194? I may be misreading, but it feels like it does!

[2019-06-18 17:34] JasonStoltz commented on #77
@constancecchen They are two independent concepts, but the code could end up overlapping.

I honestly haven't thought this one through thoroughly. It's basically rethinking how the `initialState` parameter works in the SearchProvider. I suspect there are some additional cases around pre-populating that it may or may not handle.

For instance, if you want to a pre-populate a filter when initializin

[2019-06-18 17:39] JasonStoltz commented on #77
It's totally possible that the `initialState` parameter we have now is totally sufficient and works as expected. In which case we could probably just close this issue. That may eventually be the resolution, but I think we should just give `initialState` one last check to make sure it is useful.

[2019-06-18 18:09] JasonStoltz opened #269 "When state is pushed, the UI does not seem to respond."
https://github.com/swiftype/demo-asecom/issues/12

This, I think, could be a problem. What if a user does want to push a new state the URL with a new query string. We had this case in an ecommerce demo, where from the main search bar in the header, the autocomplete was configured to navigate to "?q={search_term}". This was using Gatsby, so that was ultimately a called to `pushState`, which we are

[2019-06-18 18:38] constancecchen commented on #77
Ahh okay - I think I see. I sorta see the use case for both a default and initial state, but I'm also inclined to think that an `initialState` that acts as a default state and is both what initially loads and is what gets used on reset/clear is sufficient (I may be totally off-base there, though).

Out of curiosity - do we have a "Clear Filters" button planned for Search UI?

[2019-06-18 21:22] constancecchen commented on #194
Just wanted to write down some quick notes from a chat I had with @JasonStoltz about this issue today!

- The area to look at for implementation is probably in [searchDriver.js:160](https://github.com/elastic/search-ui/blob/master/packages/search-ui/src/SearchDriver.js#L160), which checks for a `?q=foobar` query param before initializing with results.

- We should consider whether a 0 Results vs A

[2019-06-19 10:47] JasonStoltz commented on #77
@constancecchen We do not. However, we do have a `clearFilters` action, so we could very easily create one. It's actually the example we use for "Build Your Own Component": https://github.com/elastic/search-ui/blob/master/ADVANCED.md#build-your-own-component

[2019-06-20 20:23] #156 closed

[2019-06-21 16:49] JasonStoltz commented on #149
I did a bunch of testing around this to make sure that we are handling this OK.

I indexed the following document:
[code]

Then did some thorough testing of both how the results are displayed, and also on filtering and faceting. Everything appears to be 👌 to me.

[2019-06-21 16:49] #149 closed

[2019-06-24 15:03] #97 closed

[2019-06-24 20:53] #256 closed

[2019-06-25 12:25] FokkeZB opened #274 "I'd like to use/display the score (`_meta.score`) in results"
I'd like to use/display the result scores in the views, but `_meta` is explicitly filtered out by:

https://github.com/elastic/search-ui/blob/121616c4d6647a9f4bc059869d620c083e0b90eb/packages/search-ui-app-search-connector/src/responseAdapter.js#L57

Is there another way to get the score? Could we _not_ filter `_meta` or at least `_meta.score` out?

[2019-06-25 12:29] FokkeZB opened #275 "I'd like to tell if a result is curated/promoted"
I'd like to mark results that have been curated/promoted as such, but other than `_meta.score` being `1` (which I can't use due to #274) there doesn't seem to be a way.

I realize this may be more an API than a `search-ui` related question, so feel free to forward the issue to the relevant team.

[2019-06-25 12:32] JasonStoltz commented on #274
@FokkeZB I think you're right that we should not filter out `_meta`. Will be pushing a new release of this library in the next day or two, I will include this as a fix.

[2019-06-25 12:34] JasonStoltz commented on #275
@FokkeZB I'm doing some investigation now.

[2019-06-25 14:08] FokkeZB opened #276 "Cannot use hooks because of how containers call their views"
The following:

[code]

Errors with:
https://reactjs.org/warnings/invalid-hook-call-warning.html

I think this is because of how containers call their views:

https://github.com/elastic/search-ui/blob/c68f78f9f44680f8219c8aa1e2ed5442c56936af/packages/react-search-ui/src/containers/Result.js#L43-L50

When I change that to:

[code]

Everything works fine.

[2019-06-25 14:13] FokkeZB commented on #276
For others who run into this, you can workaround via:

[code]

[2019-06-25 16:10] JasonStoltz commented on #275
Entered an issue with the core project. Will update here if I hear more.

[2019-06-25 20:25] JasonStoltz commented on #93
I did the following to test this. Testing was performed in the "examples/sandbox" project.

I added the following policy in a meta tag in `index.html`.

[code]

And ran it with:
[code]

As you can see in the policy above, I had to make the following adjustments:

The first thing I had to do was add `https://fonts.googleapis.com` as a trusted domain for `style-src-elem`, since our stylesheet import

[2019-06-25 20:55] #163 closed

[2019-06-25 20:57] #274 closed

[2019-06-26 10:35] FokkeZB commented on #78
I wish I had seen this issue earlier 🤦‍♂

We're trying to use `search-ui` for the new Help Center at zapier.com, which uses NextJS. It works fine for the most part, but what I struggle with and can't quite put my finger on is my root `WithSearch` (directly under `SearchProvider` and `ErrorBoundary` and those wrapping the `search-ui` container components getting out of sync. On the initial (server-

[2019-06-26 11:10] JasonStoltz commented on #78
Hey @FokkeZB. It's exciting to hear that you're using search-ui for the zapier.com help desk. I can definitely help you work through this issue.

As for SSR in general, I'm actually unsure of exactly what user expectations would be for a project like this in SSR. What I ended up doing was moving the initialization of `SearchProvider` to `componentDidMount`, to avoid rendering server side all toget

[2019-06-26 11:28] JasonStoltz opened #278 "Error when adding search-ui to next.js project on code sandbox"
regeneratorRuntime is not defined
ReferenceError: regeneratorRuntime is not defined
    at /sandbox/node_modules/@elastic/search-ui-app-search-connector/lib/AppSearchAPIConnector.js:135:7
    at /sandbox/node_modules/@elastic/search-ui-app-search-connector/lib/AppSearchAPIConnector.js:176:6
    at Object.<anonymous> (/sandbox/node_modules/@elastic/search-ui-app-search-connector/lib/AppSearchAPICon

[2019-06-26 11:40] JasonStoltz commented on #278
To work around this, I had to `import "@babel/polyfill";` at the very top of my fie before importing search-ui.

[2019-06-26 11:59] FokkeZB opened #279 "WithSearch under conditionally rendered components return previous instead of current state"
# Steps to reproduce

Code: https://codesandbox.io/s/search-ui-national-parks-example-3qb66
Recording: https://zappy.zapier.com/F2516A6C-523A-4F14-B6CE-C94DF9A26859.mp4

1. Open https://3qb66.csb.dev/?q=Rocky&size=n_20_n
2. Notice how the conditionally rendered components do not list the results, while the unconditional one does.
3. Start changing the search term to _Mountain_
4. Notice how while

[2019-06-26 12:00] FokkeZB commented on #78
Yes! I managed to reproduce it in the sandbox and it's not related to SSR at all, so I've created a new issue for it: #279

We're looking to launch our new help center pretty soon, so I'm super grateful for your quick responses. Thanks!

[2019-06-26 12:01] FokkeZB commented on #78
About this:

How exactly did you do that? I was planning to pass `isServerSide: !!context.req` from `getInitialProps()` and then render `{isServerSide && <SearchProvider ... />}`.

[2019-06-26 12:07] JasonStoltz commented on #78
@FokkeZB Awesome, looking now.

[2019-06-26 12:07] FokkeZB commented on #279
Perhaps this could be related to #269?

[2019-06-26 12:08] JasonStoltz commented on #78
@FokkeZB
Here: https://github.com/elastic/search-ui/blob/master/packages/react-search-ui/src/SearchProvider.js#L31

And here: https://github.com/elastic/search-ui/blob/master/packages/react-search-ui/src/SearchProvider.js#L46

[2019-06-26 12:10] FokkeZB commented on #78
Ah, so `SearchProvider` takes care of that, awesome!

[2019-06-26 12:11] JasonStoltz commented on #279
@FokkeZB The behavior we're seeing here is the same behavior I've seen in #269, so that is very possible.

[2019-06-26 13:03] JasonStoltz commented on #279
That is definitely the case. Tracing through, it looks something like this:

For: http://localhost:3000/?q=rocky&size=n_1_n

1. SearchProvider mounts
2. SearchProvider triggers an action
   a. State is updated with initial search term, "rocky" and "results: []"
   b. Notifies subscribers (but nothing is subscribed yet)
3. `Unconditional component` mounts with current state ("rocky" and "results: [

[2019-06-26 13:12] JasonStoltz commented on #279
OK, I have a fix for this. I basically just need to swap these two lines:

https://github.com/elastic/search-ui/blob/ba689c64f28ae65b84064be903367687e7547c7f/packages/search-ui/src/SearchDriver.js#L275-L276

Will see if I can post an explanation of WHY that matters shortly.

[2019-06-26 13:32] FokkeZB commented on #279
Ah, I think I see why swapping those fixes it. Currently, if informing existing subscribers causes them to render new components, those will initialize with the old state. If you swap the lines, they will initialize with the new state.

[2019-06-26 15:37] JasonStoltz commented on #279
Yes, I think you are right.

[2019-06-26 17:30] JasonStoltz opened #280 "Make a note about SSR in the documentation"
Specifically, anything inside `SearchProvider` will NOT render server side.

More details can be found here: https://github.com/elastic/search-ui/issues/78

[2019-06-26 17:32] JasonStoltz commented on #242
Fixed by https://github.com/elastic/search-ui/pull/268

[2019-06-26 17:32] #242 closed

[2019-06-26 17:36] JasonStoltz opened #281 "Merge component reference and storybook"
Currently, there is a storybook just for reacth-search-ui-views. There is also a component reference in the README. These should be consolidated into a single storybook in `react-search-ui`, that can be deployed on included in the docs site.

[2019-06-26 17:41] #17 closed

[2019-06-26 17:41] JasonStoltz commented on #17
Closing, this issue is stale

[2019-06-26 17:41] #16 closed

[2019-06-26 17:41] JasonStoltz commented on #16
Closing, this issue is stale.

[2019-06-26 17:42] #185 closed

[2019-06-26 17:42] JasonStoltz commented on #185
Closing, this issue is stale.

[2019-06-26 17:44] JasonStoltz commented on #111
Closing, this issue is stale.

[2019-06-26 17:44] #111 closed

[2019-06-26 17:45] JasonStoltz opened #282 "Put types in a common location"
They are currently duplicated between react-search-ui and react-search-ui-views

[2019-06-26 17:45] JasonStoltz opened #283 "Provide a way to exclude the default view."
For example, if someone wanted to exclude "react-search-ui-views" entirely.

[2019-06-26 17:46] JasonStoltz opened #284 "Support for a segmented search"
A "Sticky" filter ... or a filter next to a search bar that acts as a higher level filter applied to segment the entire search experience in different categories.

[2019-06-26 17:48] JasonStoltz commented on #148
Relates to #284

[2019-06-26 17:49] JasonStoltz opened #285 "First class support for Hierarchical facets"
Example in App Search Documentation:
https://swiftype.com/documentation/app-search/guides/hierarchical-facets

Live example using App Search:
https://github.com/swiftype/swiftype-app-search-hierarchical-facets-example

[2019-06-26 17:57] JasonStoltz commented on #48
This is supported in the App Search connector via the "endpointBase" parameter. This is not currently supported in the Site Search connector.

[2019-06-26 17:58] JasonStoltz commented on #70
Closing this issue, it is stale.

[2019-06-26 17:58] #70 closed

[2019-06-26 17:59] JasonStoltz commented on #134
Work has since been done on this, I do not believe at this time that we do this. It can be re-evaluated later.

[2019-06-26 17:59] #134 closed

[2019-06-26 18:01] JasonStoltz opened #286 "Provide a UMD Version of library"
https://reakit.io/docs/get-started/

[2019-06-26 18:13] JasonStoltz commented on #147
Superseded by #146

[2019-06-26 18:13] #147 closed

[2019-06-26 18:16] JasonStoltz commented on #78
I'm going to close this issue, as it's documented how this works with SSR, basically. Will open a new issue if there is every a specific need for this to work differently.

[2019-06-26 18:16] #78 closed

[2019-06-26 18:17] JasonStoltz opened #287 "More views should use "Prop getters""
We do this with the `inputView` prop on the SearchBox component.

 https://github.com/downshift-js/downshift#prop-getters

This provides a much nicer method of customizing component views.

[2019-06-26 18:19] JasonStoltz opened #288 "Document the "query pipeline" / "customizing queries""
https://www.icloud.com/keynote/0I_S4KGQn_43qjtKg9ufpxsVg#Untitled

It may be interesting to call explicitly to users: "This is how queries are built and the various ways you can customize those queries.

[2019-06-26 18:22] FokkeZB commented on #78
Well, after #280 ;)

[2019-06-26 18:26] JasonStoltz opened #289 "Add Typescript bindings"
Someone will want these, and it will also help us document our own API.

For reference: https://github.com/elastic/eui/commit/1c837b7d1e5dd1371c9e5c5a3733a437b034bd09#diff-f8ac36caa03f828bf516460a9156f08c

[2019-06-26 18:28] JasonStoltz commented on #83
This is now documented.

[2019-06-26 18:28] #83 closed

[2019-06-26 18:33] JasonStoltz opened #290 "Update to corejs 3 and remove babel-polyfill"
https://babeljs.io/blog/2019/03/19/7.4.0

[2019-06-26 18:35] JasonStoltz commented on #127
Closing, this is stale.

[2019-06-26 18:35] #127 closed

[2019-06-26 18:36] JasonStoltz commented on #126
Closing, this is stale.

[2019-06-26 18:36] #126 closed

[2019-06-26 18:36] JasonStoltz commented on #125
Closing, this is stale.

[2019-06-26 18:36] #125 closed

[2019-06-26 18:36] JasonStoltz commented on #124
Closing, this is stale.

[2019-06-26 18:36] #124 closed

[2019-06-26 18:36] JasonStoltz commented on #123
Closing, this is stale.

[2019-06-26 18:36] #123 closed

[2019-06-26 18:36] JasonStoltz commented on #122
Closing, this is stale.

[2019-06-26 18:36] #122 closed

[2019-06-26 18:36] JasonStoltz commented on #120
Closing, this is stale.

[2019-06-26 18:36] #120 closed

[2019-06-26 18:38] JasonStoltz commented on #41
Hi @xycloud,

A demo has since been added to the README: https://search-ui-stable.netlify.com/

There is also a demo here: https://swiftype.com/search-ui

And an interactive demo here: https://codesandbox.io/embed/search-ui-national-parks-example-kdyms

[2019-06-26 18:38] #41 closed

[2019-06-26 18:39] #52 closed

[2019-06-26 18:39] #55 closed

[2019-06-26 18:48] JasonStoltz commented on #278
One thought, is that I am not including this in the entrypoint for the `react-search-ui` library, which is causing the issue.

[2019-06-26 18:53] JasonStoltz commented on #278
Actually, I think it's the other way around:

It happens on this import:

import AppSearchAPIConnector from "@elastic/search-ui-app-search-connector";

But not on any of these:

import {
 SearchProvider,
 Results,
 SearchBox,
 ErrorBoundary,
 WithSearch
} from "@elastic/react-search-ui";
import { Layout } from "@elastic/react-search-ui-views";

Maybe I'm just doing something wrong in the app searc

[2019-06-26 18:55] #113 closed

[2019-06-26 21:18] #279 closed

[2019-06-27 10:49] FokkeZB commented on #278
Ah, yes.. forgot to report that. I used the same workaround.

[2019-06-27 10:53] FokkeZB opened #292 "I'd like for filters NOT to reset when search term changes"
Currently, when you change the search term - you'll lose all filters.

I'm not sure if that is a bug or a feature, but I find it annoying if you'd like to make your terms more specific to narrow down results. I'd like to at least have the option to keep the filters.

# Reproduce

1. Open https://search-ui-stable.netlify.com/?q=Death&size=n_20_n&filters%5B0%5D%5Bfield%5D=states&filters%5B0%5D%5Bval

[2019-06-27 10:58] JasonStoltz commented on #292
@FokkeZB That is as designed, as this is typical of *most* search experiences. I have an issue in the backlog about providing an option to make filters "sticky", so that they do not get reset. Does this makes sense to you? https://github.com/elastic/search-ui/issues/89

I'm going to close this issue for now, let's move the discussion to #89.

[2019-06-27 10:58] #292 closed

[2019-06-27 13:04] JasonStoltz opened #293 "I don't think our stylesheet should rely on a hosted font"
Currently, an network request is made for https://fonts.googleapis.com if you include the search-ui CSS in a project.

I think this should be inlined if it needs to be a dependency.

https://github.com/elastic/search-ui/blob/121616c4d6647a9f4bc059869d620c083e0b90eb/packages/react-search-ui-views/src/styles/themes/reference-ui/_base.scss#L9

Any thoughts on this?

[2019-06-27 13:22] yakhinvadim commented on #293
I think we shouldn't import fonts inside the library. That will allow users to import fonts the way they need it. For example, they might want to import them from their own CDN, or they might want to use display-font property inside their font-face declaration for performance reasons - there was no option to do that in Google Fonts until only a month ago. There could be other reasons to do that.

[2019-06-27 14:38] constancecchen commented on #293
Yep, I think [Google Font's new `font-display` support](https://www.zachleat.com/web/google-fonts-display/) alone is a good reason to have users self-link. Performance++ :)

My suggestion/personal preference would be having the default font for Search UI just be [system fonts](https://css-tricks.com/snippets/css/system-font-stack/) (e.g. San Francisco for Mac, Segoe for Windows). Simple, good-look

[2019-06-27 15:58] zumwalt commented on #293
The system font stack we usually use looks something like this: `font-family: system, -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;`

[2019-06-28 18:09] #293 closed

[2019-06-28 21:49] constancecchen commented on #276
For what it's worth, I've just discovered I can reproduce this even without React hooks. For some odd reason the error messaging from React is different with vs. without React hooks.

### Without errors:

<img width="546" alt="" src="https://user-images.githubusercontent.com/549407/60372793-c6337400-99b2-11e9-8d35-c7283e08261e.png">

Note that **all** of the props being passed into Layout and Resu

[2019-06-29 06:17] FokkeZB commented on #276
I think this is a different case. By using `<Game />` you're passing a Node, not a Component. There's nothing left for `<Results />` to do with it and you may as well just pass `<Game />` to `bodyContent` instead.

[2019-07-01 19:35] JasonStoltz commented on #276
@FokkeZB @constancecchen The "view" prop is effectively just a "render prop". The pattern as the React docs show it is like this:

[code]

Note that the render prop is being called as function `{this.props.render(this.state)}`.

I'm hesitant to make the switch from "View()" to "<View />" because I don't fully understand the functional differences between the two styles.

I previously rendered with

[2019-07-02 11:31] FokkeZB commented on #276
@JasonStoltz perhaps it's due to using a titlecase variable (`View`)? Here's the demo, modified to reproduce the issue: https://codesandbox.io/embed/search-ui-national-parks-example-2ph4n

Search for anything with the console open to see it error on the `ResultView` I'm passing to `Results.renderResult`.

[2019-07-02 12:36] FokkeZB commented on #276
@JasonStoltz I narrowed it down further and it looks like this is only an issue when the container is a (class) component. When I change it to a FC it works fine: https://codesandbox.io/embed/search-ui-national-parks-example-jtn7z

Perhaps that would be an alternative? I don't see any reason why the containers couldn't be FCs, which e.g. `PagingContainer` already is. `SearchBox` and `Sorting` do u

[2019-07-02 16:59] JasonStoltz opened #302 "The `Layout` component is missing `className` prop support."
All other components support this prop. It must have been missed when we originally added it. https://github.com/elastic/search-ui/pull/202

[2019-07-02 17:00] JasonStoltz opened #303 "Rename "renderResult" to "resultView" in the Results component"
This is to be consistent with the "view" nomenclature we use in the rest of the project.

[2019-07-02 17:04] JasonStoltz opened #304 "Importing views should be done through react-search-ui"
Specifically, what we don't want is to ask users to install 2 to 3 packages every time they use Search UI.

[code]

Instead of requiring them to import CSS and view components from `react-search-ui-views`, we should instead let them import it directly from `react-search-ui`. We could probably accomplish this by simply proxying everything through a sub-directory called `views`.

So you'd have somet

[2019-07-02 17:05] JasonStoltz opened #305 "Replace react-select with something else"
Additionally, the inline styles cause an issue with CSR.

Relates to #93

[2019-07-02 17:06] JasonStoltz opened #306 "There should be a clearer relationship between the `disjunctiveFacets` option, and the `any` filter type on facets."

[2019-07-02 17:07] JasonStoltz opened #307 "The “+more” action for showing more filters/checkboxes is not keyboard accessible"
This is on the "Facet" component.

[2019-07-02 17:11] JasonStoltz opened #308 "Replace rc-pagination with something else"

[2019-07-02 19:37] constancecchen commented on #308
Screenshot of localization issue:

<img width="628" alt="" src="https://user-images.githubusercontent.com/549407/60541315-2cc3d500-9cc6-11e9-930f-c249d4a62bed.png">

[2019-07-03 10:49] #302 closed

[2019-07-09 17:52] #307 closed

[2019-07-09 18:12] #303 closed

[2019-07-11 12:46] JasonStoltz opened #323 "Document "view-helpers" in view customization guide."
Currently, we recommend that users copy the default view and create a new view using the default view as a base. However, certain imports, like view helpers are imported relatively. A user creating a custom view would need to figure out how to make those absolute imports, so "@elastic/react-search-ui-views/view-helpers" ... which is not so intuitive. I think users are already doing this though, so

[2019-07-11 18:19] johnbarrierwilson commented on #214
Just a wee bit o' documentation from our discussion/meeting...

We discussed many different possible options for making the filters responsive. The most popular pattern that was discussed was the Wayfair-like flyout with accordions for each individual feature.

In order to get from point-A (conceptual discussions) to point-B (fully implemented responsive filters), I'll be working on:
1) Researchin

[2019-07-11 20:11] JasonStoltz opened #325 "Add screen reader live region support"
This was proposed in the following PR: https://github.com/elastic/search-ui/pull/320.

After discussing, we believe screen reader live region support should be supported at the core level of search-ui, not just as part of the view.

To achieve that, we will do the following:

1. We will write notifications to a live region from SearchDriver, so that regardless of what view you are using, updates w

[2019-07-12 13:53] yakhinvadim opened #330 "Add i18n support"
Now all texts in search-ui components are in English. It is possible to use custom text in components, but you have to provide your own view to achieve that. That could be too much for a single string change. We need to allow users to pass props to our view component that would change the text inside it.

For static texts, that don't depend on any variables, this should be solved by passing a stri

[2019-07-12 15:23] JasonStoltz commented on #330
I like that this is very simple and explicit. It would be easy to integrate this with other more sophisticated i18n libraries, like https://github.com/i18next/react-i18next.

That might look something like:

[code]

OR

[code]

We should probably accept a Node or a String, as people could want to include html in their strings. Or, use the Trans component from react-i18n for example:

[code]

[2019-07-12 16:27] JasonStoltz opened #332 "A non-react guide to Search UI"

[2019-07-12 17:09] yakhinvadim commented on #278
This might have something to do with @babel/polyfill being deprecated: https://babeljs.io/docs/en/babel-polyfill
![image](https://user-images.githubusercontent.com/11838280/61145731-92764500-a4ae-11e9-8bf5-f0425e917aa4.png)

[2019-07-12 18:04] yakhinvadim commented on #278
To workaround this in Vue, I had to add `import "regenerator-runtime/runtime";` before importing the AppSearchAPIConnector

[2019-07-15 14:19] yakhinvadim opened #337 "Add "" to PagingInfo component"
Now if a user doesn't provide a search term it looks a little weird:
![image](https://user-images.githubusercontent.com/11838280/61223096-60552500-a6f2-11e9-9e32-6c6ca29e89f6.png)

It would look better with "":
![image](https://user-images.githubusercontent.com/11838280/61223116-69de8d00-a6f2-11e9-87be-b91d71bbf0ed.png)

[2019-07-15 14:41] JasonStoltz commented on #278
Relates to #290

[2019-07-15 15:26] yakhinvadim opened #338 "Make actions unavailable from driver instance"
Make actions unavailable from driver instance, so that they could only be called from through driver.actions or driver.getActions()

This would make it consistent with the state, that can only be retrieved through driver.state and driver.getState()

[2019-07-15 16:11] constancecchen commented on #337
Alternatively, would it also make sense to get rid of the `for` if we're purposely doing a blanket filter/category search term? e.g.,

`Showing 1-20 out of 2005:`

[2019-07-15 16:15] yakhinvadim opened #339 "Use objects instead of arrays to store filter values."
Basically, instead of
[code]
 we would have

[code]

That would make unchecking a value much easier:

Instead of:
[code]
We would have:
[code]

[2019-07-16 19:27] FokkeZB commented on #278
Since 1.0.0 with #340 in it, I no longer need any import and it just works out of the box. So I guess we can close this issue? Thanks!

[2019-07-16 19:55] JasonStoltz commented on #278
@FokkeZB Hey, sorry, I thought merging that PR would have closed this issue. Yes, that should fix this issue. Thanks for following up!

[2019-07-16 19:55] #278 closed

[2019-07-16 19:55] JasonStoltz commented on #290
This is no longer relevant, since the babel-polyfill dependency was removed.

[2019-07-16 19:55] #290 closed

[2019-07-16 21:36] JoshMock opened #347 "Signed search keys are not supported for all query types"
When instantiating an `AppSearchAPIConnector`, you can provide a [signed search key](https://swiftype.com/documentation/app-search/authentication#signed) rather than the public search key. Here's an example JSON object that we're passing in a signed key for some queries:

[code]

This works as expected when running the `setSearchTerm` action with default options (i.e. hitting the `search.json` end

[2019-07-17 14:14] yakhinvadim opened #348 "Remove unused Facets component"
It seems like the `Facets` component in `react-search-ui-views` is not used anywhere in the project or demos, at least when the issue was created. We need to check if it's still not used anywhere and delete the component and all the reference to it.

[2019-07-19 09:02] Kacppian commented on #348
Can I take this up?

[2019-07-19 11:39] JasonStoltz commented on #348
@Kacppian Since this is a breaking change we flagged this for the 2.0 milestone. We won't be merging PRs for 2.0 for a little while, so I would hold off. If you're looking for an easy first issue, I have flagged some as "good first issue". I can go through and flag some more as well.

Thank you for your interest!

[2019-07-19 13:59] Kacppian commented on #348
Thanks for the response! I'll look for other issues then.

[2019-07-19 14:04] Kacppian commented on #108
Hey Jason, would this be a good issue to look at?

[2019-07-19 14:26] JasonStoltz commented on #348
@Kacppian Like maybe this one: https://github.com/elastic/search-ui/issues/337 :)

[2019-07-19 14:48] Kacppian commented on #348
Awesome! I'll pick that up then. Really appreciate the quick response :)

[2019-07-19 18:42] JasonStoltz commented on #108
@Kacppian I think this one is a good first issue, but I think this one might be better: https://github.com/elastic/search-ui/issues/337

[2019-07-19 20:04] Kacppian commented on #337
@constancecchen  I agree with you, removing "for" makes more sense. I just tried out both of them, I like removing the "for". Here's some screenshots -

**Without `for`**
![Screenshot from 2019-07-20 01-25-06](https://user-images.githubusercontent.com/14990078/61562013-f63fd580-aa8d-11e9-855e-3cb7a577eaca.png)

**With quotes**
![Screenshot from 2019-07-20 01-25-28](https://user-images.githubuserco

[2019-07-19 20:21] JasonStoltz commented on #337
@Kacppian I agree, removing the for entirely looks much better.

[2019-07-20 14:03] Kacppian commented on #337
Awesome, I'll implement the change then.

I see `lib/` `es/` and `src/` in the directories under `react-search-ui-views`. Could you please help me understand why that is the case? I'm a little lost. There are a bunch of PagingInfo.js files, do I have to make the same change across the files?

[2019-07-20 14:18] Kacppian commented on #337
Do we remove just the word `for` and still show the `searchTerm` or we want to get rid of everything that follows `for`?

[2019-07-22 14:25] Kacppian commented on #337
Submitted the PR

[2019-07-22 18:31] JasonStoltz commented on #214
Mentioning the associated PR here, since I don't think it was tagged in the PR itself: https://github.com/elastic/search-ui/pull/344

[2019-07-23 02:30] harsimranb commented on #289
I am planning on using this package in a large TypeScript project, and typescript bindings will be very helpful.

[2019-07-24 01:58] Kacppian commented on #194
I'll pick this up

[2019-07-24 05:19] Jfelix61 commented on #241
I can do this.

[2019-07-24 11:11] JasonStoltz commented on #194
@Kacppian Great, let us know if you have any questions.

[2019-07-24 11:12] JasonStoltz commented on #241
@Jfelix61 Great! Feel free to work on this and submit a PR, and let us know if you have any questions.

[2019-07-24 18:54] JasonStoltz opened #365 "Make a11y notifications "true" by default"
Reference #359

[2019-07-24 18:57] #325 closed

[2019-07-24 19:00] JasonStoltz commented on #337
Closed by https://github.com/elastic/search-ui/pull/360

[2019-07-24 19:00] #337 closed

[2019-07-24 19:04] #214 closed

[2019-07-24 22:22] constancecchen commented on #214
No strong feelings either way, but we might want to consider leaving this open since #344 was only meant to be an MVP solution to responsiveness, and doesn't fully implement some nicer UX that users might want to see. I'll defer to @aznick and @johnbarrierwilson on that!

[2019-07-25 11:01] JasonStoltz commented on #214
I'll defer to ya'll, but I think we should close this, and if we have more specific mobile UX requirements in the future, we'll open a new issue. This was issue was submitted primarily because the mobile experience was terrible. Since the mobile experience is no longer terrible, I consider this closed.

[2019-07-25 16:53] Jfelix61 commented on #241
Submitted the PR. However circle-ci tests fail since the SearchBox component receives new props: result of the rest implementation.

[2019-07-27 00:21] aznick commented on #214
Agreed with @JasonStoltz - issues are meant to track a discrete piece of work or thought. (And closing issues feels good 😎).

But if you have specific ideas about how we could improve the mobile experience, please feel free to open a new issue @constancecchen! It's a good idea to capture those thoughts and let them marinate, even if it isn't an issue for this sprint.

[2019-07-29 09:39] Kacppian commented on #194
Sorry for taking a while on this. I think the line no. mentioned might not be accurate? I think the line no is `175`. Please correct me if I'm wrong.

The conditional checks if a `valid searchTerm` is present or there's at least 1 filter. We'll be replacing the check for a `valid searchTerm` with the flag `shouldSearchOnInitialLoad`, right?

[2019-07-29 13:20] yakhinvadim opened #369 "Make it more obvious in app-search-connector docs to use endpointBase option for SMAS"
See Gitter question: https://gitter.im/elastic-search-ui/community?at=5d37aeb1d618874164279e3d

[2019-07-29 14:55] yakhinvadim commented on #194
I think you're right, that was a link to the previous version of a file, that didn't include accessibility code

I'm not sure that we should replace it. If we replace it, what would happen if `shouldSearchOnInitialLoad` is set to `false` and searchTerm is present in the URL? My guess is that the search won't happen on the initial load. But we want it to happen since we have a searchTerm in the URL

[2019-07-29 18:52] constancecchen commented on #194
Yep sorry about that! [Line 175](https://github.com/elastic/search-ui/blob/master/packages/search-ui/src/SearchDriver.js#L175) is the right conditional to be looking at.

I agree with @yakhinvadim that `shouldSearchOnInitialLoad` is a bit misleading in name. This issue is about whether we should initially search on **empty** queries - initial existing queries should **always** search (so behavior

[2019-07-30 03:40] Kacppian commented on #194
Agreed. I like the name `alwaysSearchOnInitialLoad` better too. Thanks for the inputs.

[2019-07-30 20:12] yakhinvadim commented on #109
I hope it's ok if I reopen this.

For now, we support evergreen desktop browsers (Edge, Firefox, Opera, Chrome, Safari) and the latest Chrome for Android and iOS Safari. But AFAIK this list is not solid and we might want to add or remove browsers from this list. Since we left the beta, I think it would be good to
1) discuss and prepare this list
1) test search-ui in the browsers we decide to suppo

[2019-07-30 20:15] constancecchen commented on #109
One way we could clearly document this as well as have this (mostly) respected by autoprefixer, babel, etc. is using the `browserslist` config in our package.json file: https://github.com/browserslist/browserslist

[2019-08-05 06:45] consulthys opened #370 "endpointBase is not taken into account in AppSearchAPIConnector"
When going through the tutorial shown in [How to Build Great React Search Experiences Quickly](https://www.elastic.co/blog/how-to-build-great-react-search-experiences-quickly) using a self-managed AppSearch instance (ES 7.3.0, AppSearch 7.3.0, Node 10.16.0), I hit the following issue when the `AppSearchAPIConnector` is being instantiated:

After searching a bit, I figured out that it should be pos

[2019-08-06 18:29] yakhinvadim commented on #370
Hey Valentin,
Really appreciate that you described the issue in such detail and I'm glad you found a workaround for this. It looks like it shouldn't be hard to fix, so I expect it to get into the next Search UI version.

[2019-08-15 18:49] JasonStoltz commented on #241
Closed by #368

[2019-08-15 18:49] #241 closed

[2019-08-19 15:13] yakhinvadim opened #372 "Make the default placeholder text more universal"
Instead of "Search your documents..." we could have a simple "Search", which is better as a default.

[2019-08-21 21:29] Jfelix61 commented on #372
Hi yakhinvadim, I would like to do this.

[2019-08-22 05:01] Jfelix61 commented on #370
I'll be adding this promptly! Thanks for the Issue, and the detail on it as yakhinvadim said.

[2019-08-22 05:47] Jfelix61 commented on #108
Hey Jason, will be trying this!

[2019-08-22 11:18] JasonStoltz commented on #108
@Jfelix61 Great!

[2019-08-22 16:12] #370 closed

[2019-08-22 16:54] Jfelix61 commented on #348
True just checked the codebase; no use of the Facets components anywhere. I will be deleting it in a while.

[2019-08-23 08:46] andymac4182 commented on #332
I am looking to do exactly this to replace InstantSearch from Algolia. Can you point me in the right direction? We need a ui to drop into static websites this looks like a great option.

[2019-08-23 12:42] yakhinvadim commented on #332
Hey Andrew!

The best place to start with this would probably be a [README](https://github.com/elastic/search-ui/tree/master/packages/search-ui) of `search-ui` core package.
We also have a [Vue.js example](https://github.com/elastic/vue-search-ui-demo), that works directly with the headless core. In that repo, take a look in [this file](https://github.com/elastic/vue-search-ui-demo/blob/master/src

[2019-08-31 00:07] Jfelix61 commented on #305
Hey Jason I'll be trying this!

[2019-08-31 03:12] Jfelix61 commented on #305
@JasonStoltz Was checking react-responsive-select and it is not able to change its className. Should we change its default styling or change our CSS?

[2019-09-03 10:38] #372 closed

[2019-09-03 16:46] constancecchen commented on #305
Aw man, that kinda sucks that they don't pass a custom `className`. If we had to, I'd be fine overriding react-responsive-select's default styling/classes in our CSS files.

Just to throw this out there, one other option (if someone else feels really strongly) could be checking out [EUI's Select component](https://elastic.github.io/eui/#/forms/form-controls)? 🤷‍♀

[2019-09-03 18:47] JasonStoltz commented on #305
So what are our big requirements here? I think they are that:
- Should not use inline styles
- Should be accessible

I'd be fine with considering the EUI Select as long as it's possible to use it without requiring all of EUI as a dependency.

[2019-09-03 18:55] yakhinvadim commented on #305
I agree with the accessability requirement, but why we don't want the select to use inline styles?
@JasonStoltz

What's the issue?

[2019-09-06 16:30] JasonStoltz opened #385 "Update the App Search connector to use the latest API client"

[2019-09-06 16:31] #385 closed

[2019-09-10 12:55] yakhinvadim opened #386 "Improve pull_request_template.md and contributing.md"
## pull_request_template.md
Some ideas:
- Use a checklist instead of a list
- Add "updated documentation" item
- Add "checked console warnings and errors" item

Anything else?

It could also make sense to go over recent community PRs and see what was commented during reviews.

## contributing.md
We might want to remove everything from there that is not useful for the community, for example, the Pu

[2019-09-10 20:04] johanarnor commented on #285
This would be really awesome to have! 👍

[2019-09-16 11:27] SwannLV opened #387 "Swapping 2 filter values"
Hello, thank you for your library, it helps me a lot.
Here is my issue:

I would like to be able to swap 2 values in my filter.
- I have tried using `removeFilter`, then `addFilter`, but this does'nt work because of the refresh of `removeFilter`. `addFilter` will never be played.
- I have tried to use `setFilter`, but this will clear all other filter values I have set

-> Is there any other way I

[2019-09-16 11:52] JasonStoltz commented on #387
@SwannLV You are correct, and I believe I have a fix for this. I will try to push it out in the next day or two.

The fix for this is to "batch" actions before executing them.

[2019-09-16 11:55] SwannLV commented on #387
@JasonStoltz waiting a lot for it, thank you 🙏😀

[2019-09-16 14:23] SwannLV opened #388 "Load extra buckets only when needed using Facet"
Hello,

I am using the `Facet` with a custom view, called `MultipleCheckboxWithYears`.
It does the same as the original `MultipleCheckboxFacet`, but has a select input added to each line, at the right of each checkbox, where you can select the number of years paired with the item you have checked.

My problem is: I would like to be able to display some buckets for every years of my select input.
I

[2019-09-16 15:56] yakhinvadim commented on #108
Closed in https://github.com/elastic/search-ui/pull/383

[2019-09-16 15:56] #108 closed

[2019-09-16 18:24] JasonStoltz commented on #388
@SwannLV It sounds like there's not first class support for what you're describing, but I'd bet we can figure out how to do it.

Do you have a visual you could share? I'm having trouble understanding what exactly you are trying to do.

[2019-09-16 19:30] SwannLV commented on #388
![image](https://user-images.githubusercontent.com/2593258/64987190-fd863280-d8c8-11e9-8ac8-9f0d2f48b64e.png)
![image](https://user-images.githubusercontent.com/2593258/64987214-0aa32180-d8c9-11e9-8ed1-f74ee3aa8944.png)
![image](https://user-images.githubusercontent.com/2593258/64987291-2dcdd100-d8c9-11e9-8e58-9c6dee7f0d15.png)

[2019-09-16 19:34] SwannLV commented on #388
I want to see the "skill 0" with 2 years of experience.
Here we can see that for each skill, I can display the number of result for years between 0 and 4, but i can't ask more buckets otherwise it reaches the limit.

I would like to be able to query the bucket for all the years for "skill 0" only when I open the select input.

[2019-09-17 16:33] JasonStoltz commented on #388
@SwannLV Ah, ok. I see what you are saying. I've thought about this before, and even put an issue in to deal with this: https://github.com/elastic/search-ui/issues/285.

I'm going to take some time today to think about how you can work around this for now and I'll propose a solution for you.

[2019-09-17 20:31] JasonStoltz commented on #388
@SwannLV How do you have your data modeled? Something like this?

[code]

Also, are you using Elastic App Search?

The general gist of the solution I have for you is to override the "onSearch" handler in your driver: https://github.com/elastic/search-ui/blob/master/ADVANCED.md#overriding-connector-handlers.

This documentation needs to be updated, because that `onSearch` parameter has a third para

[2019-09-17 20:36] JasonStoltz commented on #388
This actually might work for you as well. It's slightly simpler: https://github.com/elastic/search-ui/blob/master/ADVANCED.md#query-config. See the "conditionalFacets" option.

[2019-09-18 07:00] SwannLV commented on #388
Thank you very much.

I have tried to use `conditionalFacets` inside the config given to the `<SearchProvider />`,  but I can't figure out why I am not entering the function.

I had the same issue with `disjunctiveFacets`, no way to make it work.

And I only get 2 parameters for my onSearch.

Any idea?

I am using
[code]

[2019-09-18 11:45] JasonStoltz commented on #388
Hey @SwannLV.

I understand now.

When using elasticsearch, you are using the library without a "Connector". If you are not using a "Connector", then none the configuration in https://github.com/elastic/search-ui/blob/master/ADVANCED.md#query-config will apply. This includes "disjunctiveFacets" and "conditionalFacets".

That means, if you want to implement any of those things, you'll need to do so

[2019-09-18 13:00] JasonStoltz commented on #65
Related:

https://discuss.elastic.co/t/pass-additional-filters-with-search-text-from-search-ui-to-app-search/199647/6
https://github.com/elastic/search-ui/issues/387

[2019-09-18 15:41] andersosthus commented on #194
Hi @Kacppian,

Are there any progress on this ? I would like this functionality as well. If you are still working in it, I'll just wait, but if not, I might have time to contribute to this myself.

[2019-09-18 16:21] JasonStoltz commented on #194
@andersosthus If you make the contribution I'll be happy to publish it. I think it's a critical feature that is missing right now.

[2019-09-18 19:12] Kacppian commented on #194
@andersosthus I did make the changes but the tests were failing. I couldn't finish fixing them. I'm currently going through a hectic work schedule, so couldn't get to working on it.

[2019-09-19 07:17] SwannLV opened #389 "Disjunctive facets without the use of a connector"
Hello,

I would like to know how to implement a custom query for a Facet that would act like `disjunctiveFacets` would do.
I don't use a connector so I can't use disjunctiveFacets option...

Thank you very much !

[2019-09-19 11:04] JasonStoltz commented on #388
Closing in favor of: https://github.com/elastic/search-ui/issues/389

[2019-09-19 11:04] #388 closed

[2019-09-19 11:57] JasonStoltz commented on #194
@Kacppian Do you have a branch you could point us to? Perhaps we can finish the work.

[2019-09-19 12:03] JasonStoltz commented on #387
Closing in favor of https://github.com/elastic/search-ui/issues/65

[2019-09-19 12:03] #387 closed

[2019-09-20 10:15] kjetilhp commented on #332
is there (or will there be) a similar example for Angular? (or is something like https://github.com/microsoft/angular-react the way to go..)

[2019-09-20 19:40] yakhinvadim commented on #332
@kjetilhp Currently there're no Angular examples that I've known of, but we do consider creating more examples of Search UI.

I haven't used angular-react, so I can't say if it will work 🤷‍♂

[2019-09-20 23:45] andersosthus commented on #194
@JasonStoltz  @Kacppian I've taken the changes and put into my own branch, made sure the tests passed, and submitted PR #392

[2019-09-21 07:32] kjetilhp commented on #332
+1 for an Angular example 👍

[2019-09-23 17:55] JasonStoltz opened #393 "Make "alwaysSearchOnInitialLoad" true by default"

[2019-09-23 17:55] JasonStoltz commented on #393
Related: https://github.com/elastic/search-ui/pull/392

[2019-09-23 17:56] JasonStoltz opened #394 "Make "hasA11yNotifications" true by default"

[2019-09-23 18:01] #194 closed

[2019-09-23 20:48] JasonStoltz commented on #389
@SwannLV FYI, I've updated our elasticsearch example to include disjunctive faceting: https://github.com/elastic/search-ui/pull/395.

Hopefully that helps you along.

[2019-09-23 21:03] SwannLV commented on #389
Thanks, I'll try that !

[2019-09-24 07:19] axelhildingson opened #396 "Make isFilterable (searchbox) in facets dynamically updating options"
A feature that would be great to have is a way to dynamically update options in facet based on the searchTerm in the search box of the facet. Especially when you have more than 250 different search options in the elastic.

Something like:
`<Facet field='type' label='Type' filterType='any' isFilterable={true} dynamic={true} />`
or a new Facet
`<DynamicFacet field='type' label='Type />`

[2019-09-24 12:02] JasonStoltz commented on #396
Hi @axelhildingson. I want to make sure I understand correctly. I'm going to rephrase your question, let me know if this sounds correct:

You have a facet that has over 250 different values. Currently, you are returning all of them on a single API request, which can be very large.

Because you have so many facet values, you are using "isFilterable" to help users find the correct facet value to sel

[2019-09-24 12:06] JasonStoltz commented on #389
@SwannLV We'd really like to make the experience of using Search UI with elasticsearch much easier. If you have any feedback after using Search UI with elasticsearch, please share it with us!

[2019-09-24 12:58] axelhildingson commented on #396
yes correct 👍

The issue is that I have a lot more than 250 rather 10000. So the only way to access all of them is to filter on server-side.

Here is an example from Algolia:
https://react-instantsearch.netlify.com/examples/e-commerce/
If you write something in a facet ( example brand ) will you get a response with new facets suggestion that you can choose from.

[2019-09-24 17:11] JasonStoltz commented on #396
@axelhildingson Wow, yes, that is a lot. You are using Elastic App Search I assume? The 250 facet limit is possibly too low. We're talking about lifting that, but it sounds like that still wouldn't solve things for you. 10,000 is a lot. Out of curiosity, what type of data is in that field?

[2019-09-24 18:00] #389 closed

[2019-09-25 07:38] axelhildingson commented on #396
Yeah it is, ( we use App search )
We are a company that sells second-hand clothes so we have a lot of unique items in our database which generate a lot of different brands and types 😫.

As you said a higher limit is always good but will not solve the issue. Another nice feature that we would like to have that is similar to this issue is a hierarchical menu that filters on server-side.

[2019-09-25 11:54] JasonStoltz commented on #396
@axelhildingson OK, so it sounds like you have the following issues:
1) You are unable to show 10,000+ facet values at once [App Search limitation]
2) You are unable to apply over 32 filters [App Search limitation]
3) You need to implement hierarchical facets.

Re: hierarchical facets, is something like this what you had in mind? https://swiftype.github.io/swiftype-app-search-hierarchical-facets-e

[2019-09-25 12:09] axelhildingson commented on #396
Yes, sound about right.

2. unlimited... I can't an exact number but at least more than 5000.
3. The example is exactly what I am looking for, so ignore this for now.

Do you have any eta on  1 and 2? we use self-hosted app search at the moment.

[2019-09-25 19:25] JasonStoltz opened #397 "Refactor: Separate "Side Effects" from the SearchDriver"
After giving it some thought, I think we could make a really nice refactor to the SearchDriver.

The idea I had is to clearly distinguish "side effects" inside of the driver, and pull them out into their own modules.

For example, running actions could potentially result in 4 different "side effects".

Updating request state (i.e., "_updateSearchResults")
Making an API request (i.e., "_makeAPIRequ

[2019-09-26 11:28] JasonStoltz opened #399 "Add disjunctive facet support to Site Search Connector"
An example of how this is implemented can be seen in the Elasticsearch example: https://github.com/elastic/search-ui/pull/395.

[2019-09-26 11:31] JasonStoltz commented on #396
3. That example may be challenging to implement in Search UI, but I could help you figure it out.

I don't have an ETA on 1 and 2.

[2019-09-26 14:46] JasonStoltz commented on #65
Closed by https://github.com/elastic/search-ui/pull/391

[2019-09-26 14:46] #65 closed

[2019-09-27 11:10] mgolinelli opened #400 "Missing some TS definitions like EuiNavDrawer"
Could you please add missing TS definitions like EuiNavDrawer.
I dont see them in eui.d.ts file, unless I am not looking in the right file.

Thank you.

[2019-09-27 11:31] JasonStoltz commented on #400
@mgolinelli Did you mean to open this in the https://github.com/elastic/eui project?

[2019-09-27 12:16] mgolinelli commented on #400
exact

[2019-09-27 12:16] #400 closed

[2019-09-30 08:42] axelhildingson commented on #396
I looked into problem 2 and found an alternative way that could solve the issue. The problem we have is that we want to filter and search on part of the index. For example, we want our customers to see and the filter on all items that they have purchased and not returned.

We want to have some kind of base filtering or initalState that will include just a part of the index and then filter on just

[2019-09-30 13:41] axelhildingson commented on #396
I have looked into problem 2 and the limitation that is an issue for us is the max limit of 1024 items in one array.

[2019-09-30 15:03] JasonStoltz commented on #396
@axelhildingson What is the functional difference between those two queries? I'm pretty sure they are functionally equivalent.

[2019-09-30 15:03] JasonStoltz commented on #396
What is the query you are attempting to apply?

[2019-09-30 15:07] JasonStoltz commented on #396
I also wanted to pass this along, in case you hadn't seen it, though it sound like you are aware of the query limits already: https://swiftype.com/documentation/app-search/limitations#query-limits

[2019-09-30 15:11] axelhildingson commented on #396
the functionality is the same but it is possible to add more filter options if you put them in an array (max 1024),  instead of separate objects (max 32 ).

So one way of solving this is to add a configureFilter() function where you could configure your own filter setup.

[2019-10-01 10:07] axelhildingson opened #401 "Facets will break if a document includes an empty string"
Facets will break if a document includes an empty string.

![Skärmavbild 2019-10-01 kl  12 05 32](https://user-images.githubusercontent.com/7069084/65953212-cc1e7280-e443-11e9-9349-3e2d0ef92881.png)

I think the issue is hidden here:
https://github.com/elastic/search-ui/blob/ba689c64f28ae65b84064be903367687e7547c7f/packages/search-ui-app-search-connector/src/responseAdapter.js#L8

[2019-10-01 18:22] yakhinvadim commented on #281
We decided to not merge them. The source of truth for component API will be README and the storybook will remain just for the sake of developing new components. It will probably not be updated over time.

[2019-10-01 18:22] #281 closed

[2019-10-02 17:21] JasonStoltz opened #403 "Add a "refresh: true" options to all actions"
The "setSearchTerm" action currently supports this. "refresh" indicates whether performing this action should refresh the search results as a side effect.

By adding this flag to other actions, like "addFilter", etc. it would allow users to do things like build a search form that doesn't execute until a "submit" button is pressed.

[2019-10-02 17:22] JasonStoltz opened #404 "Add a general "setState" action"
Having a generic "setState" action would let users with more complicated needs work around our standard actions.

Meaning, if a user needs to apply 3 filters at once, instead of called "setFilter" three times in a row, they could potentially call "setState({ filters: ... })" to apply all filters at once.

[2019-10-02 17:39] JasonStoltz opened #405 "Add a way to avoid console warnings in Site Search connector"
Console warnings are often reported by services like "Sentry". It's ok to throw them if a feature is being used explicitly that is not available in Site Search. However, there should always be a way to work around these.

For instance, tracking click throughs results in a warning that is unavoidable. Users should either be able to turn these off, or toggle off the particular feature to make the wa

[2019-10-05 23:12] Uxoos opened #406 "npm install doesn't work on Windows machine"
0 info it worked if it ends with ok
1 verbose cli [ 'C:\\Program Files\\nodejs\\node.exe',
1 verbose cli   'C:\\Program Files\\nodejs\\node_modules\\npm\\bin\\npm-cli.js',
1 verbose cli   'run',
1 verbose cli   'test' ]
2 info using npm@6.9.0
3 info using node@v10.16.3
4 verbose run-script [ 'pretest', 'test', 'posttest' ]
5 info lifecycle root@~pretest: root@
6 info lifecycle root@~test: root@
7

[2019-10-06 19:44] philwilliammee opened #407 "pagination previous and next page titles are in wrong language."
The pagination on the demo site has incorrect  language for the previous and next pages titles. The titles are always in Chinese 上一页 and 下一页 even when language and locale is set to English.
steps to reproduce:
- [ ] goto https://search-ui-stable.netlify.com/ from a lang="en" locale
- [ ] press enter in search bar to get all results
- [ ] scroll down to pagination footer
- [ ] hover over previous o

[2019-10-07 14:59] yakhinvadim commented on #406
Thanks, @Uxoos!

It looks like you're trying to develop search-ui locally on a Windows machine. Unfortunately, we do not support Windows for now. But you can install [Windows Subsystem for Linux](https://docs.microsoft.com/en-us/windows/wsl/faq) which search-ui should work fine with. We have a merged PR that have more info on this issue: https://github.com/elastic/search-ui/pull/361

Let me know i

[2019-10-07 15:01] yakhinvadim commented on #406
I'm going to leave this open for more visibility.

[2019-10-07 17:58] Uxoos commented on #406
RESOLVED. I change in every package.json files from
  "scripts": {..."build-js": ".\bin\build-js'",...}
to
  "scripts": {..."build-js": "babel src --out-dir lib --ignore '**/*.test.js' && babel src --out-dir es --ignore '**/*.test.js'",...}
Replace path to file => body of file.

[2019-10-07 18:37] yakhinvadim commented on #406
I'm glad you found a workaround.

We'll still need to fix it, so I'll reopen this issue. Also, it might help other Windows users.

[2019-10-08 11:19] FokkeZB opened #409 "Share driver between multiple instances of SearchProvider"
The children of `SearchProvider` will only render when the driver has been initialized, which on SSR, only happens client-side:

https://github.com/elastic/search-ui/blob/81bc09c90e3ca73e5565c505084ec4613f463099/packages/react-search-ui/src/SearchProvider.js#L52-L54

We use `SearchBox` on every page and on the search results page we of course also use `SearchResults` (and friends). On the search p

[2019-10-09 18:45] #407 closed

[2019-10-09 18:47] yakhinvadim commented on #407
Hey, @philwilliammee, thanks for reporting this!
We fixed it in https://github.com/elastic/search-ui/pull/408 and you can expect to see changes in the next 1.3 release.

[2019-10-11 12:20] yakhinvadim commented on #305
Hey @Jfelix61, I see that you created a PR replacing react-select with react-responsive-select. I think changing the underlying UI library is a big change for Search UI, what was your reasoning behind choosing react-responsive-select among other libraries? I want to be sure that we're making the right decision here.

[2019-10-11 12:30] yakhinvadim commented on #305
I think react-responsive-select in the first message was just an example, and we should research other libraries as well.
Another option would be to try to improve the accessibility of react-select by making a PR in their repo.

[2019-10-11 17:29] Jfelix61 commented on #305
Hi @yakhinvadim, I researched other libraries with a screen reader enabled and the one that had the best accessibility was react-select (EUI has good accessibility too, but I can't find if it currently has tree shaking).
Since we are having problems with CSR and one of the best I could find without inline CSS among the others was react-responsive-select, I decided to implement that one, which in m

[2019-10-12 15:45] yakhinvadim commented on #305
Wow, that's great news!
And it looks like the strict CSP issue is fixed in [react-select v3](https://github.com/JedWatson/react-select/issues/3585) (We're using v2). Unfortunately, we can't upgrade right now, since that would mean that we'd have to drop support for React <16.8.

But my thinking is that since react-select has the best accessibility out there and strict CSP issue is going to fix its

[2019-10-12 23:24] Jfelix61 commented on #305
That's great to know, I love react-select so I have no problems in keeping it. Then, if it's breaking, it would be better to upgrade for the v2.0 breaking version right?

[2019-10-13 02:32] yakhinvadim commented on #305
Yes, I think so.

[2019-10-14 14:09] JasonStoltz opened #411 "Support "any" filters at top level"
Use case: Searching for "parks" which are in "California" OR are "World Heritage Sites"

This is currently not possible. The following actions:

[code]

Would result in the query:

[code]

Currently, the "any" parameter affects the relation of a filter to other filters on the same field, NOT the relation to other fields, which is that top level "all".

We could provide a second parameter to choose

[2019-10-14 16:15] abhishekKrHaith11 commented on #411
This will also give flexibility to create filter structure like below -
`"filters": {
    "all": [
      { "states": "California" },
      { "world_heritage_site": "true" }
    ],
    "any": [
      { "acres": { "from": 40000 } },
      { "square_km": { "from": 500 } }
    ],
    "none": [
      { "title": "Yosemite" }
    ]
  }`
@JasonStoltz can we also find a way to use nested filters as documen

[2019-10-15 08:07] apellizzn commented on #411
What should be the default value for the top level filter ?

[2019-10-15 10:52] JasonStoltz commented on #411
"all" would be the default at the top level.

[2019-10-15 11:12] JasonStoltz commented on #411
@abhishekKrHaith11 The first structure you showed would not be possible, but something functionally equivalent would be.

[code]

Would give you:

[code]

So in other words, we ALWAYS use a nested structure two levels deep.

[2019-10-15 11:23] JasonStoltz commented on #411
The one thing unique about this, is there is logic that looks to see if a matching filter is already applied to that field, and if so, it adds the value to that existing filter.

For example, calling to "addFilters" on the same field with the same combination of "all" and "any":

[code]

Would result in:
[code]

Just thinking out loud here, that means you wouldn't be able to apply nested "any" fil

[2019-10-16 16:07] apellizzn commented on #411
@JasonStoltz I am thinking about adding a PR for this, can we assume top level filters would only be "any", "all" and "none" ?

[2019-10-16 19:01] JasonStoltz commented on #411
Hey @apellizzn Yes, "any", "all", and "none" would be the only valid values.

[2019-10-17 14:01] XigeTime opened #412 "Grouping documents breaks pagination & more"
The grouping features seems to break pagination, total results, and results per page when using the Reference UI or Search UI.

To reproduce, download the Reference UI/Search UI and apply a grouping rule to one of the fields:
`"group": {
    "field": "doc_group"
}`

The total results, and results per page sections represent the amount results had they not been grouped together, I think this is a l

[2019-10-17 17:15] yakhinvadim commented on #412
Thanks for opening this issue, @XigeTime! We'll explore this and come back to you at the beginning of the next week.
If you find any more bugs or have feature suggestions, we'd love to hear about them too.

[2019-10-21 10:00] XigeTime commented on #412
Hi @yakhinvadim & @JasonStoltz, thanks for looking into this issue.

It seems that the sort by field is also affected by this issue. Changing the sort works, however this is not reflected in search results, even after a refresh. When removing the group field, the sort by works as expected.

Please keep me updated, thanks,
Harry.

[2019-10-21 18:48] JasonStoltz commented on #412
Hey @XigeTime,

This is actually a known issue in App Search. Unfortunately, with the current "group" implementation, paging and sorting are both known to break or behave unexpectedly.

I do have a temporary solution for you. Add "collapse: true" in your group configuration:

[code]

This *should* fix the issue you are experiencing with paging and sorting.

** There is one caveat to this ** - If t

[2019-10-21 20:59] JasonStoltz commented on #412
@XigeTime I'm going to close this issue, as what I've suggested is the only workaround in App Search, and it's not technically an issue with Search UI. Hope you get it working!

[2019-10-21 20:59] #412 closed

[2019-10-22 12:39] conor909 commented on #256
Does anyone know if this has been released?   I can't seem to use nested objects in the responses in react-search-ui

`v1.2.0`

[2019-10-22 16:10] XigeTime commented on #412
Hi @JasonStoltz, thanks for looking into this for me!

I have applied the collapsing rule, and this seems to have fixed the issues with pagination!

Sort by still seems to have no affect on the results though which I can't figure out. Works when grouping is removed. Any ideas? I can send a link to our current App Search if this could help.

This seems to also ignore curations, which is less than i

[2019-10-22 16:28] JasonStoltz commented on #256
@conor909 It was, can you be more specific? What are you using this with, App Search or Elasticsearch? What does the object look like.

[2019-10-22 16:28] JasonStoltz commented on #256
And yes, this was released in 0.11

[2019-10-22 16:35] JasonStoltz commented on #412
@XigeTime I entered an issue in App Search in our internal system about the issues with paging and sorting, I will find out for you what other channels are available for following along with App Search issues.

As for sorting, this is the demo I put together to illustrate this issue in the ticket. Note how in the source after you change "collapse" to true, the sorting starts to work correctly: htt

[2019-10-22 16:39] JasonStoltz opened #414 "Curations do not work when using grouping"
I believe this should either be fixed, or at least documented as a disclaimer on the grouping page.

[2019-10-22 16:50] conor909 commented on #256
Im using the example project in `examples/elasticsearch` and I'm testing it with the json file in `examples/elasticsearch/data/national-es-bulk-index.json` which works great.

But if I change the structure of the JSON to have a nested object, then it breaks because it can't find the path to the `raw` property.

[2019-10-22 19:01] JasonStoltz commented on #256
@conor909 This PR loosened the schema for the that Results type. However, the out of the box `Results` view component *does* expect the data to be formatted in a particular way. The view unfortunately does not currently communicate that properly in it's prop types: https://github.com/elastic/search-ui/blob/master/packages/react-search-ui-views/src/Result.js#L102

You would need to provide a custom

[2019-10-23 05:46] conor909 commented on #256
@JasonStoltz ah I see, thanks for that clear info!

[2019-10-23 12:21] XigeTime commented on #412
Hi @JasonStoltz, sorry! The sorting seems to be working correctly now too. Seems it was an issue with my grouping rather than the sorting. Thank you very much for your help on that.

I can't seem to get Curations to work either, they show up fine when I disable the grouping. is this a known issue too, and is there a possible work around?

Many thanks, Harry.

[2019-10-23 12:42] JasonStoltz commented on #412
@XigeTime Hey! Glad you got it working.

Curations will not currently work with grouping. I will ask around about a workaround.

If you go through support and file a bug or Enhancement Request with them, they will create a request with a tracking number which you will be able to follow.

[2019-10-23 13:26] JasonStoltz commented on #412
@XigeTime Also, to be fully transparent, the other issue you may run into with grouping is that if you are using Facets, the counts may not be correct. The counts will show the number of total results, while the paging and totals work off the total number of groups.

[2019-10-23 13:29] XigeTime commented on #412
Hi @JasonStoltz, thanks for letting me know. Luckily, I had already removed these counts, so this shouldn't be an issue for me.

Please do let me know if you find a workaround for the curations!

Much appreciated

[2019-10-28 16:43] johanarnor commented on #411
Hi! I just wanted to weigh in with some thoughts about this feature as well. I dug around in the code to check how the mapping was made from the state to the actual query, and then it hit me that it maybe would make more sense if we [group the filters](https://swiftype.com/documentation/app-search/api/search/filters#arrays-as-or) by field name? I.e instead of
[code]
group by field name...
[code]
T

[2019-10-28 18:04] JasonStoltz commented on #414
I meant to open this in our App Search repository, *not* this repository.

[2019-10-28 18:04] #414 closed

[2019-10-28 19:39] JasonStoltz commented on #411
This:

[code]

Is functionally equivalent to:

[code]

So if we were going to group by field name the example you provided would then become:

[code]

It's basically "shorthand". The problem is, there is no "shorthand" for an all query. So you'd end up writing "all" queries with the longhand syntax:

[code]

I think it's confusing and harder to code mixing the longhand and shorthand. So I just def

[2019-10-29 06:59] johanarnor commented on #411
Yeah, I agree that it's confusing to mix the two syntaxes. But I also tried to think of a single use case for an all query within a single field. The following is quite weird and doesn't seem to hava a real world use case?
[code]

[2019-10-29 10:55] JasonStoltz commented on #411
The real world use case would be any Facet where you want to select multiple values to filter on that are all true.

[2019-10-29 12:39] johanarnor commented on #411
Ah, now I see. That would require `ammenity` to be stored as an array I suppose?

[2019-10-29 12:54] JasonStoltz commented on #411
Yes.

On Tue, Oct 29, 2019, 8:39 AM Johan Arnör <notifications@github.com> wrote:

[2019-10-29 13:42] #405 closed

[2019-10-29 16:25] JasonStoltz commented on #401
@axelhildingson What is the behavior you are expecting? I'm inclined to filter out facet values that have an empty string.

[2019-10-30 20:24] phlash-zero opened #419 "Trigger search after changing data externally."
I have wrapped search-ui component into another component. Data for this is set externally.
Is there a way to trigger search or re-render data everytime input data changes ?

If the config to Provider changes does is the search-ui re-rendered ?

[2019-10-31 07:30] johanarnor commented on #292
For those who find this issue and think that it hasn't been implemented yet (like me) - check the [docs](https://github.com/elastic/search-ui/blob/master/ADVANCED.md#searchbox)! It's been implemented since https://github.com/elastic/search-ui/pull/391

[2019-10-31 11:23] JasonStoltz commented on #419
Hi @phlash-zero, can you please post some code examples? I'm not sure I understand what you are asking.

And Provider only reads from config on mount. So you'd need to force a full remount when changing configuration. I think it would be unusual to need to do that, if you need to do that you may be trying to do something incorrectly.

I may be able to help but I'd need some code examples to illust

[2019-10-31 11:27] JasonStoltz commented on #292
Good point @johanarnor, thanks!

[2019-10-31 15:10] JasonStoltz opened #422 "Do not pass "values" into Facet views"
The "values" prop was used to determine which facet options were selected. However, that is
now pre-calculated and added to FacetValues in the `options` prop.

This "values" prop is no longer necessary and should be removed.

[2019-10-31 15:13] JasonStoltz opened #423 "Calculate "selected" in the SearchDriver"
This is currently calculated for facet values in the Facet container component. It must be there because in order to calculate selected facets, we need to know what filter type the facet is relying on. We should remove that reliance on filter type so that if any filter is applied for the same field as a facet, it is assumed that the filter corresponds to that particular facet.

[2019-10-31 18:47] JasonStoltz opened #425 "Thumbnail support for Result component"
Add an "imageField" prop to the Result component which would let you specify a field from the result object to use to populate a thumbnail image. An example of what this might look like can be found here: https://codesandbox.io/s/video-games-tutorial-with-images-5wsqs.

https://github.com/elastic/search-ui/blob/master/packages/react-search-ui/src/containers/Result.js

[2019-10-31 18:47] JasonStoltz opened #426 "Configurable field support for Result component"
The `Results` component should accept a prop called 'displayFields` which would allow users to specify which fields from their result object to display. The parameter should be able to express:

1. Order
2. field
3. field label

Example:

`result`:
[code]

Component using new field
[code]

Result in HTML
[code]

[2019-10-31 18:56] JasonStoltz opened #427 "Create separate Functional and Theme stylesheets"

[2019-10-31 19:01] JasonStoltz opened #428 "Move "disjunctive" configuration to Facet component and filter actions"

[2019-10-31 19:05] JasonStoltz commented on #146
I am going to put in a new issue actual solidifying the design of 1 facet per field. It simplifies our entire system and I don't know that there is a valid case for multiple facets per field.

[2019-10-31 19:05] #146 closed

[2019-10-31 19:08] JasonStoltz opened #429 "Structure data model so that it is assumed there will be only one facet per field"
Our data model currently allows multiple facets per field.

[code]

I believe that this could be greatly simplified if we restrict it to 1 facet per field. I can't think of a use case otherwise.

[code]

[2019-10-31 19:11] JasonStoltz commented on #339
The problem with this is that filter values are not always simple string values. They are often times ranges:

[code]

[2019-10-31 19:11] #339 closed

[2019-10-31 19:18] JasonStoltz opened #430 "Rename "data" to "facetValues" on Facets model"

[2019-10-31 19:26] JasonStoltz commented on #365
Dulpicate of https://github.com/elastic/search-ui/issues/394

[2019-10-31 19:26] #365 closed

[2019-11-01 13:37] JasonStoltz opened #431 "We need a mechanism for applying global data filters, that are unrelated to facet filters"
For reference: https://discuss.elastic.co/t/how-to-exclude-facets-in-filters-or-get-conditional-filters-conditionalfacets/206044

We want to simply apply a filter globally, which will be applied regardless of whether or not there is a filter applied on the same field in facets.

In our current API, we suggest doing something like that by setting `filters` in the `searchQuery` configuration. Howeve

[2019-11-01 13:38] JasonStoltz commented on #431
Related to:
https://github.com/elastic/search-ui/issues/148
https://github.com/elastic/search-ui/issues/89

[2019-11-01 13:39] JasonStoltz commented on #428
This should solve: https://github.com/elastic/search-ui/issues/306

[2019-11-01 13:40] JasonStoltz commented on #306
https://github.com/elastic/search-ui/issues/428 will be implemented to solve this issue.

[2019-11-01 13:40] #306 closed

[2019-11-01 19:28] XigeTime opened #432 "[Feature Request] A 'contains' filter type for filtering on Arrays of data"
Would be great if we could have a filter option that allows us to check if an array contains a value.

For example, a document has the field "colours" with the value of: ['blue', 'black', 'red']
I would like the ability to set a filter for colour, that will look through the array for a match.

So if we set the filter as { colour: 'black' }, it should return true, as black is a value inside the arr

[2019-11-04 09:52] axelhildingson commented on #401
I looked at the PR and this will solve the issue 👍

[2019-11-04 09:55] axelhildingson opened #433 "IE11 error."
Search-ui crash if you open it in IE11.

I have seen multiple issues one of them is this,
![Skärmavbild 2019-11-04 kl  10 54 32](https://user-images.githubusercontent.com/7069084/68112393-83018880-fef1-11e9-9231-81236f401e50.png)

[2019-11-04 13:38] yakhinvadim commented on #433
Hey @axelhildingson!

We officially support evergreen desktop browsers (Edge, Firefox, Opera, Chrome, Safari) and the latest Chrome for Android and iOS Safari.
Although it is possible to include opt-in polyfills, we think it's better to focus our efforts on improving Search UI for the majority of users with the browsers above.

Is this a dealbreaker for you?

[2019-11-04 17:19] axelhildingson commented on #433
The issue I found is a dependency ( debounce-fn ) that does not compile the code to javascript ( not es6 ). I solve it for now with a post-install script but it would be great if we change it to another dependency.

[2019-11-04 19:19] JasonStoltz commented on #432
Hi @XigeTime,

This is already possible, that is how filters work in App Search.

[code]

Unless I'm missing someth8ing.

[2019-11-04 19:59] XigeTime commented on #432
Hi @JasonStoltz,

I just tried this, and could not get it to work?

The filter I have set is:
![image](https://user-images.githubusercontent.com/3460593/68153291-29bf4680-ff3d-11e9-97eb-b45f2443b76c.png)
This is set like you stated above, `setFilter('collection0', this.props.collection, "any");`

I have a document that should match if the filters should indeed work like that, but I get no results?

[2019-11-05 22:37] AndrewTziAnChan opened #434 "Search-UI smart url forces extra history push"
When going to a page with Swiftype, there is an extra browser history push on component load.

For example, on the [CodeSandbox ](https://codesandbox.io/s/national-parks-example-kdyms?fontsize=14)demo on the Readme for this project, the url navigates from

**https://kdyms.csb.app/**

to

**https://kdyms.csb.app/?size=n_20_n**

A browser back navigation action can be triggered and the url will chan

[2019-11-05 22:42] AndrewTziAnChan commented on #434
Need to investigate issue more.

[2019-11-06 13:22] yakhinvadim opened #435 "Investigate styles import issue"
[Add description]
https://discuss.elastic.co/t/search-ui-styles-are-not-read-in-production-build-of-gatsby/206501/3?u=vadim_yakhin

[2019-11-06 14:18] JasonStoltz commented on #434
@AndrewTziAnChan This is a valid issue, I'm glad you entered it. I actually have an issue in this project to capture it already.

[2019-11-06 14:18] JasonStoltz commented on #434
https://github.com/elastic/search-ui/issues/176

[2019-11-07 16:16] AndrewTziAnChan commented on #434
@JasonStoltz For additional details, I suspect part of the issue is due to our application's use of react-router-dom. Our application will route to a different component render like in the case of going from a home page to a search page. React router then of course keep that history, especially in the case when a history push is made by search-ui.

We can do forgo react router and use form.submit

[2019-11-08 16:24] JasonStoltz commented on #432
@XigeTime If your data was indexed as a javascript array, then that will work:

[code]

If for some reason you indexed it as a stringified javascript array, then it won't work:

[code]

Beyond that I'm not sure what to tell you, the API is meant to accept arrays of strings and allow you to filter on individual array values.

Hope that helps,

Jason

[2019-11-08 16:26] #432 closed

[2019-11-08 16:58] JasonStoltz opened #436 "Site Search spelling suggestions are un available in the response"
Original question:

[code]

We unfortunately have no work-around for this. I think we could likely easily add a "didYouMean" field to state, though, which the site search connector could populate with this spelling suggestion.

Because it is a new field, it would be a non-breaking change. This feature is not supported by app search but could easily be added in the future if that feature becomes av

[2019-11-08 17:26] AndrewTziAnChan commented on #433
@axelhildingson Our team is running into an issue using search-ui that I think may be related to IE11. What did you specifically do to solve your issue?

[2019-11-08 20:21] AndrewTziAnChan opened #437 "Errors when rendering SearchProvider in IE11"
When attempting to render the SearchProvider component within IE11, the following errors are shown as related:

Cannot modify non-writable property 'length'

Unable to get property 'tearDown' of undefined or null reference

Is there any guidance on how read these issues?

[2019-11-11 18:59] JasonStoltz opened #438 "SingleSelectFacet and other views should error when multiple values are selected"
The context for this can be found in the comments of this PR: https://github.com/elastic/search-ui/pull/424#discussion_r344859836

[2019-11-12 10:35] Essk commented on #436
I'm wondering if it would be easier to build the request if the config directly mirrors the site-search options: 'strict', 'always', 'retry'?

[code]

[2019-11-12 11:50] JasonStoltz commented on #436
@Essk Yes, something like that makes sense to me.

Maybe in that case it would be better to do something like:

[code]

[2019-11-14 20:30] JasonStoltz opened #440 "Importing CSS won't work in Gatsby due to incorrect package.json declaration"
The details are here: https://github.com/gatsbyjs/gatsby/issues/19446#issuecomment-553019807

[2019-11-16 05:05] robhawkins commented on #369
@JasonStoltz it would be handy if `endpointBase` could be mentioned in the blog post

https://www.elastic.co/blog/how-to-build-great-react-search-experiences-quickly

[2019-11-18 23:37] wjsbgsnwss opened #441 "Uncaught TypeError: Cannot read property 'raw' of undefined"
I am trying to adapt this elasticsearch example to the local ElasticSearch cluster, though it was documented as 'This project is meant to be deployed to Netlify.'

This is what I modified:

- Change the Netlify call in runRequest.js file to this: const response = await fetch("http://localhost:9200/_search", {

- Adapt the value in buildRequest.js and buildRequestFilters.js for the elasticsearch fi

[2019-11-19 12:02] JasonStoltz commented on #441
@wjsbgsnwss Hm, try making sure that each result has an "id" field with a "raw" property.

[2019-11-19 20:10] AndrewTziAnChan commented on #437
This IE11 issue seems to stem from attempting to use Object.defineProperty within mimic-fn from within debounce-fn, specifically when assigning the property 'length' of the mimicking function. Only in IE11. I've created a pull request to use a simpler, less robust debounce function, but one that should work in IE11 given that the appropriate polyfills are imported.

#442

[2019-11-19 21:05] AndrewTziAnChan commented on #434
I've created a pull request for a change that we made on our fork.

#443

[2019-11-20 02:00] wjsbgsnwss commented on #441
Thanks Jason!

It seems to me that only this return the 'raw' element in the './src/buildState.js' file:

  const toObject = (value, snippet) => {
    return { raw: value, ...(snippet && { snippet }) };
  };

And this is handled by the Netlify's search.js:

e instanceof $){const t=e.raw(),r=Object.keys(t);for(const e of r)

Not sure how can I "make sure that each result has an "id" field with a "r

[2019-11-20 17:53] JasonStoltz commented on #441
Hm, I'm not sure I follow what you're saying. I see you've pasted something related to "state.results" above. Could you paste a json version of that, so I can see what you're result objects look like?

[2019-11-20 20:26] wjsbgsnwss commented on #441
The state.result is as follow:

[code]

And this is the original JSON returned by the API:

[code]

What I was saying was, buildState.js added the 'raw' layer in order to include the snippet (for highlight) . Then it threw the error, not sure where it was parsed because when I searched all files in the example/elasticsearch directory, I only found the search.js under the netlify-lambda folder.

Ho

[2019-11-20 21:44] wjsbgsnwss commented on #441
Here is the update: it is my bad that there is NO 'id' field in the returned API, and this is where it failed ('id' is the hardcoded field you need to provide in the response/result):

./node_modules/@elastic/react-search-ui-views/lib/Autocomplete.js:
     key: result.**id**.raw,

[2019-11-20 21:44] #441 closed

[2019-11-20 22:01] JasonStoltz commented on #441
Yeah, I think we need to publish some sort of specification of how data should be modeled, or even just update the propTypes in this project to reflect that.

[2019-11-20 22:02] JasonStoltz opened #444 "propTypes on Result view don't properly validate incoming data"
This causes much confusion:

https://github.com/elastic/search-ui/issues/441

For reference, this is when we loosened the schema: https://github.com/elastic/search-ui/commit/c68f78f9f44680f8219c8aa1e2ed5442c56936af

At minimum, on the view we should validate that an "id" field is present

[2019-11-22 09:54] wjsbgsnwss opened #445 "The ability to hide certain fields"
I notice that the 'id' and 'title' fields are mandatory (because if I remove these two fields from the 'record._source' it will throw errors) for the results which makes sense.

However, it is a duplicated information for title and most of the time it is not necessary to display the ID, at least in the scenario of Elasticsearch.

How can I do this? I don't want to touch anything in the Results.js.

[2019-11-22 18:48] JasonStoltz commented on #445
It is not currently possible without customizing the Result view. I have an issue in to address this: https://github.com/elastic/search-ui/issues/426.

[2019-11-22 18:49] #445 closed

[2019-11-25 16:39] #401 closed

[2019-12-09 07:05] FokkeZB opened #447 "Can't reach support"
:wave: @JasonStoltz!

When the Swiftype API was shortly unavailable on November 19th, we contact Swiftype support (via support@swiftype.com), but never got an answer. The Swiftype status page didn't list the incident, nor did the Twitter account. The only confirmation and update we got was by a colleague of yours on Twitter: https://twitter.com/xeraa/status/1196743171197280256.

We were glad that

[2019-12-09 11:00] JasonStoltz commented on #447
@FokkeZB That is concerning indeed. I'm glad you reached out to me about this, I'll escalate this with support and see that you get an explanation!

[2019-12-09 11:11] FokkeZB commented on #447
Thanks @JasonStoltz! The reason I opened this issue, and also the reason I was surprised not getting an answer from support, was that it was such a stark contrast with your response time! 👏

[2019-12-09 11:18] JasonStoltz commented on #447
💪

[2019-12-09 12:05] JasonStoltz commented on #447
Still waiting to hear about the support response, but I can see that there is an incident listed here on status.swiftype.com: https://status.swiftype.com/pages/history/5578eca31ae0f1de7300016c

[2019-12-12 12:08] andrew-chernous commented on #437
Hi, @AndrewTziAnChan I have the same issues with ie 11. Can you please provide advice about how temporary fix this problem?

[2019-12-13 19:19] JasonStoltz commented on #437
https://github.com/elastic/search-ui/pull/442 closes this issue, will release in 1.3

[2019-12-13 23:04] AndrewTziAnChan commented on #437
@andrew-chernous Along with the changes from this PR (use different debounce-fn in the DebounceManager), you'll probably need to include the appropriate polyfills. We use [create-react-app polyfills](https://github.com/facebook/create-react-app/tree/master/packages/react-app-polyfill). Just install the **react-app-polyfill** module into your project and include the following imports into a top lev

[2019-12-16 09:22] andrew-chernous commented on #437
@AndrewTziAnChan Thank you.

[2019-12-16 10:27] #447 closed

[2019-12-16 10:27] #437 closed

[2019-12-16 10:28] JasonStoltz commented on #435
https://github.com/elastic/search-ui/issues/440

[2019-12-16 10:28] #435 closed

[2019-12-16 10:29] JasonStoltz commented on #433
Fixed by https://github.com/elastic/search-ui/pull/448.

[2019-12-16 10:29] #433 closed

[2019-12-16 11:13] FokkeZB commented on #447
Interesting - we didn't see an incident on the status page when we got alerted around 10am UTC. ¯\_(ツ)_/¯

Anyway, did you hear back from support? We haven't. :(

[2019-12-16 11:26] JasonStoltz commented on #447
I'm not sure how often that page gets updated. I'll follow up with your question about support.

[2019-12-16 11:39] shanksy01 commented on #447
Hi Fokke, we received Support Case 457683 created at 10:19 UTC on 19th Nov from a Fokke Zandbergen, with a reply to email address of contact@zapier.com.

Support responded twice to this case at 11:03 & 11:13 UTC on the same day and it auto closed after 10 days, due to no response.

Can you check back to see that the responses were in fact received by your MTA hosting the zapier.com email domain pl

[2019-12-16 11:41] FokkeZB commented on #447
Thanks for looking into this @shanksy01! I'll dive into the mail logs.

[2019-12-17 11:16] FokkeZB commented on #434
@JasonStoltz any update on this issue? We're affected by it too.

https://zapier.com/help/search?q=apps > click any result > back 2x

[2019-12-17 11:28] JasonStoltz commented on #434
@FokkeZB I apologize, I've been a bit busy lately 😫. I'll see if I can resolve this today, and if so I'll consider pushing it immediately in a patch release.

[2019-12-18 08:29] FokkeZB commented on #447
Mixed news @shanksy01 :) Turns out we did get a reply, but it seems your support system dropped whatever our system needs to recognize it as reply to the message we sent from our system and as a result it got ignored :( Now that we know, next time we'll use https://support.elastic.co.

What is not clear to me about https://www.elastic.co/support/welcome/swiftype is that the table seems to suggest

[2019-12-18 08:55] shanksy01 commented on #447
Thanks @FokkeZB , if you send in an email (from an address that will receive responses) to support@elastic.co and reference the original case number (457683), we can link them up and send over the original responses (unless you want to provide your email in this github issue - please remember that this is an open repo).

Regarding the urgent case support, the website you referenced is accurate and

[2019-12-18 11:17] shanksy01 commented on #447
I should clarify, the table I dictates the response times Support will apply to the relevant severity of issue. It does not mean standard and pro subscribers are unable to raise Sev 1 or Sev2 issues, it just means all cases raised against a Standard or Pro subscription will be treated as Severity 3.

I hope that clears up any ambiguity here and if not, please let me know.

[2019-12-19 17:04] #434 closed

[2019-12-19 17:18] JasonStoltz commented on #434
@FokkeZB @AndrewTziAnChan Should be fixed in 1.3.1

https://codesandbox.io/s/search-ui-national-parks-example-kdyms

[2019-12-19 17:51] andyg5000 opened #450 "Marketing page update"
Just a heads up...

Your marketing page (https://swiftype.com/search-ui) states `npm install react-search-ui search-ui-app-search-connector` as the packages, but should be `npm install --save @elastic/react-search-ui @elastic/search-ui-app-search-connector` as defined in your read me.

<img width="555" alt="Screen Shot 2019-12-19 at 12 51 18 PM" src="https://user-images.githubusercontent.com/18000

[2019-12-23 07:13] GrandathePanda opened #451 "Dangerously Set Inner Html opens this UI up to XSS from maliciously stored results."
https://github.com/elastic/search-ui/blob/977175f1b6ca4d0e34339c8e1cdbd16a3de317e6/packages/react-search-ui-views/src/Result.js

This uses set dangerously inner HTML multiple times and receives the params each time from something that comes from the Elasticsearch results. In the case of say a search app that indexes code snippets from a web crawl this opens up this UI to stored XSS attacks pretty

[2020-01-02 12:51] JasonStoltz commented on #451
@GrandathePanda We do some low-fi escaping here to avoid XSS issues on raw values: https://github.com/elastic/search-ui/blob/977175f1b6ca4d0e34339c8e1cdbd16a3de317e6/packages/react-search-ui-views/src/Result.js#L30.

This view assumes that objects will have data in either a `raw` field or `snippet` field. We are cautious about anything in a raw field and actively escape the values. `snippet` field

[2020-01-02 12:51] JasonStoltz commented on #451
And to be clear, we *need* to dangerously set inner html in order to display snippets.

[2020-01-02 18:34] #450 closed

[2020-01-02 18:45] JasonStoltz commented on #450
@andyg5000 Thanks for pointing this out!

[2020-01-03 15:01] matu1104 opened #452 "search-ui/SearchDriver.js - the same requestSequencer is used for autocomplete and search requests"
Hi,

I'm experiencing a bug when I use the search-ui library. When I type on the search bar, and press Enter quickly, the property isLoading change to True, and then it never gets back to False.

After digging into the code, I realized the issue is on [SearchDriver.js](https://github.com/elastic/search-ui/blob/master/packages/search-ui/src/SearchDriver.js#L124) The search driver is using the same

[2020-01-03 16:35] JasonStoltz commented on #452
@matu1104 Thank you for reporting this. We can get this patched immediately.

[2020-01-03 16:36] JasonStoltz commented on #452
@matu1104 Can you paste the snippet of code for your `SearchBox` component so we can see we props you have enabled?

[2020-01-03 17:10] matu1104 commented on #452
Sure,

`
      <SearchBox autocompleteSuggestions={true}
        inputView={({ getAutocomplete, getInputProps }: any) => (
          <>
            <div className={styles.searchBoxWrapper}>
              <input
                autoFocus
                {...getInputProps({
                  placeholder: 'Search HITs, Decorations, Beacons and more',
                  value: srcText,

[2020-01-03 18:30] chriscressman opened #453 "Numerical field with zero value not supported"
I generated a reference UI with Elastic App Search and experienced the following problems when a document contained a numerical field with value `0`.

1\. The filter link text displays `[object Object]` instead of `0`:

![zero-filter-value](https://user-images.githubusercontent.com/362928/71741466-fc075880-2e2c-11ea-84d6-de3b394d871e.png)

2\. Clicking the filter link results in the following erro

[2020-01-03 21:14] JasonStoltz commented on #453
@chriscressman Thanks for reporting this, I think this may have fixed the issue: https://github.com/elastic/search-ui/pull/424. The Reference UI is still on version 1.1 so we probably just need to update it in the Reference UI: v

[2020-01-06 21:25] JasonStoltz commented on #452
Quick note about the steps to reproduce, in order to reproduce the autocomplete query needs to return first.

1. A query for the search is triggered with sequence number x
2. A query for autocomplete is triggered with a sequence number x+1
3. The autocomplete query returns and x + 1 is stored as the "latest response"
4. The query for search returns, but since the sequence number is less than the l

[2020-01-09 14:45] #452 closed

[2020-01-09 14:45] #451 closed

[2020-01-09 15:40] #453 closed

[2020-01-10 12:35] #440 closed

[2020-01-13 14:24] alexanderatallah commented on #289
It's been a couple months - just wanted to check if this is being worked on! It's a big part of our decision to use it. Right now, we have to type out things like "Result" manually, otherwise it's very easy to make errors (e.g. when a field is null in our elasticsearch index, or when results aren't being serialized correctly).

[2020-01-14 10:44] JasonStoltz commented on #289
@alexanderatallah It is not being worked on currently, but I understand the need.

[2020-01-15 05:36] alexanderatallah commented on #289
@JasonStoltz I submitted some type definitions for react-search-ui. Do these look ok? https://github.com/DefinitelyTyped/DefinitelyTyped/pull/41605

[2020-01-15 11:34] JasonStoltz commented on #289
@alexanderatallah

That's great! A few questions... I'm new to TypeScript.

- Did you generate these or hand code them? If generated, how did you generate them?
- I started doing some work to add these definitions directly to this project by adding a `.d.ts` file directly to the top of each package. If I do this, what happens to the types defined in the `@types`? Do they become obsolete?

[2020-01-15 12:05] JasonStoltz commented on #289
@alexanderatallah I have a Draft PR up for what I have so far: https://github.com/elastic/search-ui/pull/458. I wonder if it would make more sense to add your changes to this?

[2020-01-15 14:12] alexanderatallah commented on #289
@JasonStoltz I hand-coded the types. Yeah it’s a little bit better to add the definitions to the main repo, since it’s more likely that they’ll stay in sync. Not sure about this but adding a tslint command call to the tests might be able to tell when something new got exported that isn’t typed.

I’ll open a PR against yours

[2020-01-27 11:52] scheiblr commented on #14
This would be very interesting, as we currently have the issue, that the search overwrites the react router path, e.g. when I click on a facet option. Is there a way to solve this, so that the GET variables get appended to the current URL and do not replace the entire path?

[2020-01-27 12:21] JasonStoltz commented on #14
@scheiblr Could you open up a separate issue with some more detail?

[2020-01-27 14:02] scheiblr opened #461 "React Router issue"
First of all thank you for the amazing package you provide as OS!

As we tried to integrate the search into a react-router-driven application some uncontrollable effects occurred. We are not sure if it's missing documentation, a but or a lack of knowledge of us.

The effect:

1. The application has an endpoint http://localhost:3000/#/ which only shows the search field.
![image](https://user-images

[2020-01-27 14:02] scheiblr commented on #14
sure, done: https://github.com/elastic/search-ui/issues/461

[2020-01-28 10:07] scheiblr commented on #461
I investigated question 2 a bit further and changed the application to use ReactRouter with ?q instead of router params. Unfortunately, search-ui components seem not to get the GET variable (nothing in the search field). I have no clue how to change that behaivor.

![image](https://user-images.githubusercontent.com/2667575/73254094-0f081100-41be-11ea-8921-6d969989d7c5.png)

[2020-01-28 12:47] scheiblr commented on #461
For now we solved it by calling
[code]

instead of using the router's push function

[code]

[2020-01-28 13:04] JasonStoltz commented on #461
I'm starting to look at this now.

First thing to point out, you can turn off this url syncing completely using the "trackUrlState" configuration.

Second thing, this will be much easier to talk about if we can get a codesandbox.io set up to replicate the problem. Are you able to do that quickly? If not, I can see if I can get one set up.

[2020-01-28 13:20] JasonStoltz commented on #461
Here's a bit of an example of what you'd need to do: https://codesandbox.io/s/react-router-with-search-ui-rsgxn

You would have to turn off Search UI's url tracking with `trackUrlState: false`.

You would read in the URL param using React Router, and convert it to `initialState` in Search UI.

This will work for you. The downside is that you will throw away all of the url state management that Sea

[2020-01-28 13:27] JasonStoltz commented on #461
It looks like a big part of your struggle is that our url management is throwing away the hash parameter, so HashRouter won't work with Search UI.

My main suggestion would be to use React Router to route to a `/search` page where Search UI is mounted. Then, simply let Search UI handle the the url management. Don't try to use `/q/{term}`, just use `?q={term}`.

[2020-01-28 13:29] JasonStoltz commented on #461
The only concerning thing I see here is that you couldn't use `props.history.push(`/?q=${encodeURIComponent(value)}`)`. Why did you have to change from that to `window.location.href`?

[2020-01-28 13:32] scheiblr commented on #461
That is a good question ;) It didn't overtook the `?q` into the search field and ignored it. When using it with `window.location.href` it worked. I assume some React internals to prevent some reloading which is required by internal management of search-ui? I had the impression the entire page completely reloads when using `window.location.href`.

[2020-01-28 14:39] JasonStoltz commented on #461
@scheiblr I updated this example: https://codesandbox.io/s/react-router-with-search-ui-rsgxn.

There is a link you can click which uses `history.push`, which seems to work just fine.

Not sure what the differences is between what I'm doing here and what you are doing.

![latest](https://user-images.githubusercontent.com/1427475/73273480-07db0600-41b2-11ea-9023-7dbd6b99b0db.gif)

[2020-01-28 15:16] JasonStoltz commented on #461
However, now that we're talking about it. I think there is potentially an issue with using `history.push` from within the same page that already has Search UI loaded.

Meaning, if you're on `/search` which mounts Search UI, and you manually do a `history.push('/search?q=canyon'), I do believe that Search UI currently does not detect this. This is why typically, when you're within a Search UI drive

[2020-01-28 18:16] JasonStoltz commented on #461
I think the issue you were experience was simply that React Router will not reload / remount a route navigation to the current route, even if the query string parameters have changed. The only work-around I could suggest for something like that is to use the query string parameter as a `key` on the Route to force a remount. Example here: https://rsgxn.csb.app/search?q=although&size=n_20_n.

[2020-01-28 18:17] JasonStoltz commented on #269
This turned out not to be an issue with Search UI. It is a Router issue (gatsby, react router, etc.). They will not reload / remount a route navigation to the current route, even if the query string parameters have changed. The only work-around I could suggest for something like that is to use the query string parameter as a key on the Route to force a remount. Example here: https://codesandbox.io

[2020-01-28 18:18] JasonStoltz commented on #461
I'm going to close this issue, hopefully you have enough information to work through your issue. Thanks for reporting this.

[2020-01-28 18:18] #461 closed

[2020-01-30 10:30] scheiblr commented on #461
Thank you very much for your quick help!

[2020-01-30 20:13] JasonStoltz commented on #275
Since score is now exposed in results, I believe this should be possible by looking for score == 1.

[2020-01-30 20:13] #275 closed

[2020-01-31 14:40] FokkeZB commented on #275
A separate boolean prop might be more explicit, but that'd be an API change. This'll do!

[2020-01-31 15:10] JasonStoltz commented on #275
Yes, that's true. As always, thank you for taking the time to open up this issue and give us feedback. ❤️

[2020-02-14 08:13] FokkeZB commented on #409
Yes, we'd still very much like to get rid of our `SeasrchProviderOnce`.

[2020-02-14 11:56] JasonStoltz commented on #409
Thanks for the response @FokkeZB!

[2020-02-14 19:41] philwilliammee opened #463 "componentWillReceiveProps has been renamed, and is not recommended for use."
in development build I get the warning. I haven't tracked down exactly where its coming from it might be from my webpack compiler.
`componentWillReceiveProps has been renamed, and is not recommended for use.`
[code]

[2020-02-14 19:58] JasonStoltz commented on #463
Interesting, it must be from a dependency, I don't believe we use that anywhere.

[2020-02-15 18:53] alexanderatallah opened #464 "Cannot dynamically adjust Facets within a SearchProvider"
It looks like once a `SearchProvider` has been initialized, there's no way to adjust the `facets` part of the search `Context`. Am I right about this limitation?

This means that when we have React components dynamically change the aggregations needed in our Elasticsearch queries, we can't change the search `Context`'s `facets` and use them to build a request.

Here's the code I'd like to execute

[2020-02-16 16:38] philwilliammee commented on #463
did a little tracking the warning is coming from react-select
The warning message also says:
`Please update the following components: Select`

[code]

It is referenced in multiple issues. https://github.com/JedWatson/react-select/issues/3720 and https://github.com/JedWatson/react-select/issues/3745

It looks like the latest release 3.0.8 does not have a fix for this open issue.

[2020-02-18 15:44] JasonStoltz commented on #464
Generally speaking that is true, yes.

However, if you are using Elasticsearch as your back end this is not true.

Since there is no connector available for Elasticsearch, it is on you to write the logic to determine which facets or aggregations are fetched. That means you can apply whatever logic you wish here https://github.com/elastic/search-ui/blob/master/examples/elasticsearch/src/buildReques

[2020-02-20 15:24] #264 closed

[2020-02-20 15:24] #261 closed

[2020-02-20 15:24] #287 closed

[2020-02-20 15:24] #288 closed

[2020-02-20 15:24] #235 closed

[2020-02-20 15:24] #115 closed

[2020-02-20 15:24] #150 closed

[2020-02-20 15:24] #246 closed

[2020-02-20 15:24] #280 closed

[2020-02-20 15:24] #48 closed

[2020-02-20 15:24] #77 closed

[2020-02-20 15:24] #76 closed

[2020-02-20 15:24] #157 closed

[2020-02-20 15:24] #46 closed

[2020-02-20 15:24] #323 closed

[2020-02-20 15:24] #330 closed

[2020-02-20 15:24] #109 closed

[2020-02-20 15:24] #386 closed

[2020-02-20 15:24] #397 closed

[2020-02-20 15:24] #399 closed

[2020-02-20 15:24] #403 closed

[2020-02-20 15:24] #396 closed

[2020-02-20 15:24] #419 closed

[2020-02-20 15:24] #404 closed

[2020-02-20 15:25] #199 closed

[2020-02-20 15:25] #304 closed

[2020-02-20 15:25] #369 closed

[2020-02-20 16:24] #117 closed

[2020-02-20 16:24] #245 closed

[2020-02-20 16:24] #243 closed

[2020-02-20 16:24] #282 closed

[2020-02-20 16:24] #283 closed

[2020-02-20 16:24] #47 closed

[2020-02-20 16:24] #286 closed

[2020-02-20 16:24] #106 closed

[2020-02-20 16:24] #151 closed

[2020-02-20 16:24] #284 closed

[2020-02-20 16:24] #187 closed

[2020-02-20 16:24] #186 closed

[2020-02-20 16:24] #13 closed

[2020-02-20 16:24] #94 closed

[2020-02-20 16:24] #95 closed

[2020-02-20 16:24] #236 closed

[2020-02-20 16:24] #238 closed

[2020-02-27 19:21] yakhinvadim commented on #93
I'd like to reopen this.
Looks like the fonts have been fixed already in #293
And react-select issue can be solved by updating it to v3:  JedWatson/react-select#3585 (search for "CSP").

[2020-02-28 12:56] JasonStoltz commented on #93
Updating to react-select v3 will likely be a breaking change, as the markup and classnames will likely be differently.

If we do this, I think we need to take the approach of deprecating the old component and adding a new component which can be opted into.

This *could* be a global configuration for Search UI, one that conditionally loads v3 instead of v2.

[2020-02-28 19:23] DickyKwok opened #465 "Add defaultQuery to config in SearchProvider"
I found it difficult when I want to query by some array of document IDs in default query.
I can now query by adding
[code]
in config
However, there would be an error msg saying that

Are there any other way to query some documents by ID in default?

[2020-03-02 13:17] JasonStoltz commented on #465
Yep, you can apply a filter on the ID field.

[2020-03-02 13:17] #465 closed

[2020-03-04 08:23] PRASHANT1104 commented on #426
@JasonStoltz can i work on it , if no one else is occupied with it ?

[2020-03-04 08:24] PRASHANT1104 commented on #425
@JasonStoltz can i work on this  ?

[2020-03-04 11:15] JasonStoltz commented on #425
@PRASHANT1104 That would be great.

[2020-03-04 11:15] JasonStoltz commented on #426
@PRASHANT1104 That would be great.

[2020-03-04 21:22] calvinl commented on #244
:(

Would love to see this come back up into active development.

[2020-03-06 19:04] PRASHANT1104 commented on #425
@JasonStoltz So i have added the field of thumbnail image . What did you mean by  "let you specify a field from the result object to use to populate a thumbnail image" ?  I didn't get you , how do you wish to populate the thumbnail image ?

[2020-03-09 14:17] JasonStoltz commented on #425
Ah, sorry, this ticket probably didn't have enough detail.

From a user perspective, they would code something like this

[code]

A users data would look like the following:

[code]

Inside of the [Result](https://github.com/elastic/search-ui/blob/master/packages/react-search-ui-views/src/Result.js) component, you would have logic that reads from the `thumbnailField` parameter and populates a thum

[2020-03-10 08:04] FokkeZB commented on #276
Thanks @botelastic, but this is still something we'd like to see fixed as it forces us to use workarounds.

[2020-03-10 11:10] JasonStoltz commented on #276
I'm applying the "pinned" tag so botelastic doesn't remove this again 👍

[2020-03-10 16:01] PRASHANT1104 commented on #425
Yes .Thanks !

[2020-03-16 13:13] JasonStoltz commented on #289
This is already in progress

[2020-03-16 15:49] #237 closed

[2020-03-16 15:49] #176 closed

[2020-03-17 13:49] #444 closed

[2020-03-22 19:58] czmarcos opened #466 "Connection with Elastic Cloud?"
Read the documentation, but could not find any example or clear instructions on how to connect search-ui with Elastic Cloud. Anyone could help me with that?

[2020-03-22 20:11] czmarcos commented on #332
@andymac4182 I'm in the same situation...Did you manage to replace algolia instant search js with elastic search (non-react solution)?

[2020-03-23 12:27] czmarcos commented on #466
found an example that can help build a handler with elastic cloud:

https://github.com/elastic/search-ui/tree/master/examples/elasticsearch

[2020-03-23 12:27] #466 closed

[2020-03-26 12:25] byronhulcher opened #468 "Feature request: Config option to disable/bypass query cache"
As far as I understand the default `SearchProvider` will cache the responses to queries based on the query's request.  I have a use case where I need to force Search UI to repeatedly poll a single query until it starts to see `meta.page.total_results > 0`.  I do not believe this is not possible given current options available to me in Search UI.

[2020-03-27 08:05] abhirocks550 commented on #285
Are you able to integrate above example into Search-ui?

[2020-03-27 10:13] johanarnor commented on #285
We don't have a use case for this (yet, we will have in the future), so we haven't tried it.

[2020-03-27 13:03] Rynoh opened #470 "Facet filtering is not working when a global filter is applied inside `searchQuery`"
Facet filtering (on fields y, z) is not working when a global filter (field x) is applied inside `searchQuery`

**How to recreate**
* Create the UI code by using 'Reference UI' from your app search engine
* Inside `src/App.js` add a global filter
[code]
* Have some facets configured(Make sure the facets do not include `type` as a field)
* Since `alwaysSearchOnInitialLoad` is true your search will

[2020-03-30 17:07] JasonStoltz commented on #409
Just re-reading this. This is interesting. You should be able to have 2 `SearchProviders` on a page and they should act in complete isolation. The only overlap I believe they would have is via `trackUrlState`.

So if you have two SearchProviders on a page and they both are not using `trackUrlState`, they should be fine.

However, it sounds like you might be saying that you have one nested inside t

[2020-03-31 12:23] FokkeZB commented on #409
They're nested indeed. On all pages under https://zapier.com/help we have a search input with autocomplete in our header that is part of a layout component. So we wrap the layout in the search provider.

However, on the results page (e.g. https://zapier.com/help/search?q=pizza) we pass children to the layout component that also need access to the provider. So we wrap it in the provider again.

We

[2020-03-31 12:53] #470 closed

[2020-03-31 12:57] #464 closed

[2020-03-31 13:00] #468 closed

[2020-03-31 13:42] JasonStoltz commented on #470
@Rynoh A fix for this is available in `1.4.0-rc.0`. If you get a chance to test it out, let me know how it works out for you.

[2020-03-31 13:42] JasonStoltz commented on #464
@alexanderatallah A fix for this is available in 1.4.0-rc.0. If you get a chance to test it out, let me know how it works for you.

[2020-03-31 18:25] dioginis opened #474 "Facets return problem using range filter"
I'm trying to use the range filter to get a variable (which receives two values: 0 or 1), and I want to filter every element that has each of them as a value. It's showing the right number of results for each of them, but it's not filtering it. Nothing happens when I click on 0 or 1.  Does anyone know how can I fix it?

`is_venda: {
      //   range: {
      //     field: "is_venda",
      //

[2020-04-01 14:00] Kilowogg opened #475 "Some fields are cut before ")""
Node : v10.19.0
NPM : 6.14.4

Hello,
In Search UI, some fields are cut before ")".
Example : field1 with value ["XXXXX (X/X)", "XXXXX (X/X)", "XXXXX (X/X)"]
This shows well in App Search administration but is cut after first ")" in Search UI.
After a search, it fully shows the field, with highlight, but still cut results from other matchs...
This is the code I'm using.
[code]
To solve this, I swit

[2020-04-01 14:37] JasonStoltz commented on #475
Ah, I see what you are saying.

Snippet highlighting will only ever work on 1 value. This is true for all of App Search.

So if you have values ["Tigers (1/3)", "Tigers (2/3)", "Tigers (3/3)"], and a search for "Tigers"...

You will only ever get 1 value that is highlighted. So either "<em>Tigers</em> (1/3)", "<em>Tigers</em> (2/3)", or "<em>Tigers</em> (3/3)". You' never get the entire thing with

[2020-04-01 15:40] JasonStoltz commented on #474
I don't understand what the `buildRequestFilter` function is for.

Are you using App Search?

In Search UI, to use a Facet Filter, you do it like this:

https://github.com/elastic/search-ui/blob/master/ADVANCED.md#facet

[code]

[2020-04-01 15:44] JasonStoltz commented on #474
Or if you want to use those range buckets, it could be something like this:

[code]

[2020-04-01 15:57] Kilowogg commented on #475
Yes, we only see one value. :/
The only difference is that it's not cut.

[2020-04-02 09:47] marcvangend commented on #269
I have a similar issue with Search UI and React Router - hope you can guide me in the right direction. My situation is the same in that I need a route change when I start a search, but the difference is that it is triggered by the Search UI search box instead of a link.

The project I'm working on needs a search bar in the header, on all pages. To make that work, I moved the <SearchProvider> up a

[2020-04-02 14:00] JasonStoltz commented on #269
Hmmm, I don't understand what the problem is here? I would expect that to add a history item.

[2020-04-02 14:01] JasonStoltz commented on #475
Oh, OK. So you mean they show up like this? "XXXXX (X/X"?

[2020-04-02 15:27] marcvangend commented on #269
Sorry I didn't explain clearly. Of course you would expect history.push to add a history item, but Search UI itself _also_ adds to the history. In other words, if you are on the /about page and you start a search for "foo" in the search bar, you are first redirected to /search, and then immediately to /search?q=foo&size=n_20_n. Now when you go back in history, you go back to /search, not to /about

[2020-04-02 15:48] JasonStoltz commented on #269
Ah, OK, that should have been fixed in 1.3.1: https://github.com/elastic/search-ui/releases/tag/v1.3.1

What version of Search UI are you using?

[2020-04-02 16:33] marcvangend commented on #269
We are on version 1.3.2, with react 16.13.0 and react-router-dom 5.1.2. Development started very recently so we have very recent versions of pretty much everything. Would it help if I try to set up an example on codesandbox? (Never did that before but I guess I should be able to.)

[2020-04-02 17:00] JasonStoltz commented on #269
That would be helpful

[2020-04-02 18:21] marcvangend commented on #269
Thank you for looking into this. Here is a minimalist code sandbox that demonstrates the problem I'm trying solve: https://codesandbox.io/s/busy-haibt-c3vwv. As you can see, the search box triggers a search requests and alters the url, but you don't get redirected to the search page.

[2020-04-03 14:44] #14 closed

[2020-04-03 23:21] brilhana opened #477 "Example won't load"
Running `ELASTICSEARCH_HOST=https://@localhost:9300 npm start` from `example/elasticsearch` results in error.

[code]

[2020-04-05 13:14] ratpik commented on #477
I am facing the same issue.

[2020-04-07 00:45] ivankozlovcodes commented on #477
I had the same issue. Reset to the previous version. Commit `9147036135f65b8ee4b5523bd9c6890fcd06d214`. It seems to be working fine.

[2020-04-07 16:14] joerav opened #478 "React Routing"
We are getting 503 errors when we refresh the search results page or link to the actual result query directly. Any ideas on how to handle that would be great.

[2020-04-07 17:11] richkuz commented on #478
It might not be feasible for your specific scenario, but one potential workaround could be to set `trackUrlState` to false in the [search UI config settings](https://github.com/elastic/search-ui/blob/master/ADVANCED.md#request-state).

[2020-04-09 16:06] Rynoh commented on #470
@JasonStoltz my free trail expired so will not be able to test it.

[2020-04-09 20:37] JasonStoltz commented on #478
Hi @joerav, if you have more details to share about your setup, that would be helpful.

The main thing to be aware of is that Search UI by default uses URL parameters for performing searches and tracking state.

If you are doing query string manipulation yourself on that page, you will need to make sure you turn that off with `trackUrlState: false`.

However, we typically recommend you leave that

[2020-04-09 20:42] JasonStoltz commented on #477
Oh yes, I'm sorry. I know what the issue is here. I updated the `sandbox` example to fix this issue in https://github.com/elastic/search-ui/pull/469/files, but forgot to update this example.

You'd need to run these link commands before starting the project: https://github.com/elastic/search-ui/blob/master/bin/sandbox

[code]

[2020-04-09 20:42] JasonStoltz commented on #477
I'll make a startup script like I have for sandbox to make this easier.

[2020-04-09 20:45] JasonStoltz commented on #470
@Rynoh No problem, thank you for reporting this issue.

[2020-04-09 21:24] #477 closed

[2020-04-14 11:29] byronhulcher opened #480 "Allow GET method for Queries to App Search API"
The [App Search documentation](https://swiftype.com/documentation/app-search/api/search#search-queries) states that one can use a `GET` or `POST` request when accessing `/api/as/v1/engines/{ENGINE_NAME}/search` for a search query.  However, one of `@elastic/search-ui`'s dependencies, `@elastic/app-search-javascript` only [allows you to utilize a POST request](https://github.com/elastic/app-search-

[2020-04-16 20:05] byronhulcher commented on #480
I'm closing this, it's looking like my original issue is not related to this and there isn't a need to provide both methods at this time.

[2020-04-16 20:05] #480 closed

[2020-04-16 21:14] brilhana opened #483 "Search index selection"
I have an Elasticsearch cluster running with multiple indexes and would like to be able to select a specific index before searching my documents. Is there any way to do so using SearchProvider or SearchBox?

[2020-04-17 12:34] JasonStoltz commented on #483
You can build that input component and store that state separate from SearchProvider and SearchBox. You'd then reference that state whenever you build your query in `onSearch`: https://github.com/elastic/search-ui/blob/master/ADVANCED.md#connectors-and-handlers

[2020-04-18 01:00] ivankozlovcodes commented on #477
Not to be a bummer but it does not work event with the steps provided

[2020-04-21 12:15] celloudiallo opened #484 "[Question] - Swiftype App Search vs Elastic App Search"
Hi,

this might not be the best place to ask this but am curious What's the difference between swiftype app search and elastic app search...I know swiftype is an elastic company.

are they both the same service? if yes, how do you decide which one to sign-up for?

[2020-04-21 13:40] JasonStoltz commented on #484
Sorry for the product confusion. There is only 1 product, and that is [Elastic App Search](https://www.elastic.co/app-search/), which was formerly known as Swiftype App Search.

You can download Elastic App Search and run it yourself, or you can spin up an instance on Elastic Cloud.

[2020-04-21 14:06] celloudiallo commented on #484
thanks for the clarification Jason.

[2020-04-21 14:06] #484 closed

[2020-04-23 17:26] #463 closed

[2020-05-01 18:14] joerav opened #485 "Pagination"
In the React UI we are getting back many more than 100 pages and any link after 100 errors out. How do we enforce the pagination component to only show 100 or less links? Is there a setting or prop to use?

[2020-05-01 18:16] joerav opened #486 "Facet within a facet"
We have a field that we want to use that filter all results by that type. When use as a facet it works great but we want this to work like an accordion that contains child facets underneath. Do you have example where in react you can use one facet value and show related facets underneath?

[2020-05-01 18:16] joerav commented on #486
Im not sure how to create the url by hand.

[2020-05-01 18:18] joerav opened #487 "Controlling React UI urls to be seo friendly"
Is there a way to create seo friendly urls based on the queries. It adds all sorts of %20 type parameters in the url where we want it to be more seo/slug like. Any examples on that for app-search?

[2020-05-04 13:55] JasonStoltz commented on #487
Not currently.

[2020-05-04 13:57] JasonStoltz commented on #486
This ticket includes a description of the approach you would take for this, and a working example of this using App Search, but not Search UI. https://github.com/elastic/search-ui/issues/285

There will be a bit of work figuring out how to make this work with Search UI, but it should be possible.

[2020-05-04 13:58] JasonStoltz commented on #485
Are you using the default `Pagination` component? That should be limited already. How many pages is it showing?

[2020-05-04 21:56] gallbrook commented on #89
I'm interested in setting a filter to be sticky.
Is there any way to achieve this currently?

[2020-05-05 12:35] JasonStoltz commented on #89
Not currently

[2020-05-05 19:06] #483 closed

[2020-05-05 20:01] joerav opened #488 "Facet.js as a functional component"
I am using https://github.com/elastic/search-ui/blob/master/packages/react-search-ui/src/containers/Facet.js and need a version that is a functional component. Without it being a functional component I can’t use React Hooks to keep track of the state when I click the facet and have it update a sibling component. Do you have a version already this way? Basically upon click of the facet, the sort op

[2020-05-06 01:05] gallbrook opened #489 "conditionalFacets Error"
When attempting to use conditional facets as per documentation on https://github.com/elastic/search-ui/blob/master/ADVANCED.md#advanced-configuration.
 I am getting the following error:
**Options contains invalid key: conditionalFacets**
[code]
Am I missing something?

[2020-05-06 12:59] JasonStoltz commented on #489
Hey @gallbrook, this unfortunately appears to be a bug.

[2020-05-06 13:02] JasonStoltz commented on #488
This appears to be related to this issue: https://github.com/elastic/search-ui/issues/276. Definitely something we'd like to fix.

[2020-05-06 20:57] jasontk19 opened #490 "BooleanFacet checked value does not update when removeFilter is used"
If using the `addFilter` or `removeFilter` functions modify a filter value for a facet that is using a BooleanFacet view, the checkbox is not updated to reflect the current value of the filter since the input is not setting a `checked` attribute value on the input like is done in the MultiCheckbox view component.

For example:
![booleanFacet](https://user-images.githubusercontent.com/1480000/81227

[2020-05-12 12:13] JasonStoltz commented on #490
Fixed by https://github.com/elastic/search-ui/pull/491

[2020-05-12 12:13] #490 closed

[2020-05-14 16:53] mdparthi commented on #470
@JasonStoltz  @Rynoh I am able to verify this issue and it works fine for me in my local. Actually I faced the same issue and gone through the community and found the ticket  https://gitter.im/elastic-search-ui/ .

[2020-05-18 23:27] artemis-prime commented on #276
Jason, re "I'm hesitant to make the switch from View() to <View /> because I don't fully understand the functional differences between the two styles." ... the difference is that one is seriously non-idiomatic to React and bypasses React's internals completely.   If you simply call a function you never trigger the tracking that allows React to register and call the hooks.  In fact in certain cases

[2020-05-20 03:34] Rafcin opened #492 "AWS ElasticSearch"
AWS Elasticsearch leaves more to wonder than to work with, and I can't seem to solve how to setup a connector with AWSE.
My current setup with is:
[code]
and I either have a connection error or a CORS policy issue. However when I try the same thing with appbaseio the connector connects fine without CORS issues.

[2020-05-27 02:27] DotNetRockStar opened #495 "The demo site doesn't seem to work"
Hi there.  I am interested in using the search UI but it seems like the demo site doesn't work right.

https://search-ui-stable.netlify.app/?size=n_20_n

I am using the latest Chrome.  Is this just an issue with the demo site or a bug with the latest build perhaps?

Thanks in advance

[2020-05-27 12:50] JasonStoltz commented on #495
Oh that's weird. Can you try again? It is working for me.

[2020-05-27 15:30] #406 closed

[2020-05-27 20:55] xiaofengleo opened #497 "An unexpected error occurred: Unexpected token A in JSON at position 0"
I follow the  README.md to set up an Elasticsearch instance and have the file national-es-bulk-index.json indexed.

I think I build the index correctly.
I run several queries, I get correct results.

For example,
curl -X GET "localhost:9200/national-parks/_search?q=teton"  -u elastic:Y0QOpHyZXcCQ0amo7uon

The responding is:
{"took":10,"timed_out":false,"_shards":{"total":1,"successful":1,"skipped"

[2020-05-28 13:11] synapticiel opened #498 "Combine search-ui with eui inside Kibana plugin"
Is there any example to guide how we can use elastic eui components with search-ui ?
Thank you

[2020-05-28 20:30] #332 closed

[2020-05-29 11:20] mattiloh commented on #347
What's the best workaround to use different signed keys for query suggestions and actual search queries? It seems like the only way around is implementing the search request logic from scratch, since the top-level provider is not supporting dedicated keys for suggestion and search queries. I didn't dig deep enough into the details though, since I just started evaluating Elastic App Search for our

[2020-06-01 11:57] codebunt commented on #332
If it is of any help here is a simple webcomponent version of search ui. https://github.com/codebunt/elastic-searchui-webcomponents . Since webcomponents are framework agnostic it can be used in angular or react.

[2020-06-02 11:27] JasonStoltz commented on #332
@codebunt Very cool! Thank you for sharing!

[2020-06-02 11:29] JasonStoltz commented on #475
Still important

[2020-06-02 11:35] JasonStoltz commented on #498
No example, but we've done it before. You simply override the component views: https://github.com/elastic/search-ui/blob/master/ADVANCED.md#component-views-and-html.

[2020-06-02 11:35] #498 closed

[2020-06-02 14:19] TCMiranda commented on #347
Hey @JasonStoltz Can you update what is the status on the development of this issue?
My issue with signed search keys occurs when I click to filter with facets.

Two requests are sent. The first one resolves fine, but the second one gives me that:
[code]
If I change to static keys it works fine.

[2020-06-02 14:35] TCMiranda commented on #347
Oh, I think this is a different issue!
The second request is made to get disjunctive facets, right?

But in my case, I had no filters, which caused the request to be made this way:
![Screenshot from 2020-06-02 11-34-24](https://user-images.githubusercontent.com/10077439/83532774-1b321100-a4c5-11ea-9a74-5dffa2fdbe6b.png)

If I remove this empty filter property, it works.

[2020-06-02 17:42] flyinliamryan commented on #475
Using Search UI with Swiftype site search and I'm having the same issue with hyphens and title and body fields not displaying. An example would be if someone typed "COVID-19".

Changing the title field to raw instead of snippet resolves it but lose highlighting. The body field is too large so I have let that as a snippet.

The national-parks demo doesn't seem to have this problem.

react-search-ui

[2020-06-04 17:53] JasonStoltz commented on #475
Making a note of this here, we use this snippet of code internally. We should apply this as a fix in search-ui:

[code]

[2020-06-04 18:56] JasonStoltz commented on #495
Couldn't reproduce, going to close this unless someone else can reproduce it.

[2020-06-04 18:56] #495 closed

[2020-06-04 18:57] JasonStoltz commented on #486
Going to close this as I haven't heard back, and the work is captured in #285.

[2020-06-04 18:57] #486 closed

[2020-06-04 18:58] JasonStoltz commented on #478
Going to close this, I am not able to reproduce and I have not heard back from the OP.

[2020-06-04 18:58] #478 closed

[2020-06-04 19:00] JasonStoltz commented on #492
Hey @Rafcin, you are using the `AppSearchAPIConnector` which is specifically for Elastic App Search.

We don't have a connector for Elasticsearch, but we do provide some instructions for using search-ui with Elasticsearch here: https://github.com/elastic/search-ui#how-do-i-use-this-with-elasticsearch.

[2020-06-04 19:00] #492 closed

[2020-06-05 00:24] gallbrook opened #500 "Moving to next page stays at the bottom of the page"
When clicking through to the next page of results, user isn't returned to the top of the page, and so users are forced to scroll back to the top, which is not good.

To see this behaviour - go to https://search-ui-stable.netlify.app/?size=n_20_n
click "2" to go to the next page of results.
Still at the bottom of the page.

Ideally we should scroll back to the top of the page, when paging through r

[2020-06-05 12:56] JasonStoltz commented on #500
That's a good suggestion, thank you.

[2020-06-05 14:06] #489 closed

[2020-06-05 18:16] #485 closed

[2020-06-07 17:30] #474 closed

[2020-06-08 14:50] marcvangend commented on #500
I did something like that by adding an onChange handler to the PagingView component:

[code]
This makes it jump up to the dom element with id="search-results". Unfortunately I had to add a timeout because otherwise that element has not been rendered yet. It's not the most beautiful solution but I hope it will help someone else.

[2020-06-09 03:23] nntoan opened #502 "Use this library as native JS or in knockout?"
Hi there,

Just newbie to this, as per title I'm wondering if it's possible to use this as a standalone library for native JS?

From the README.md

Flexible back-end - Not just for Elastic App Search. Use with any backend.

But I can't find any information regards this one in the documentations

Cheers

[2020-06-09 11:42] JasonStoltz commented on #502
Hey, yes, the core of search-ui is packaged with as plain old JavaScript: https://github.com/elastic/search-ui#is-search-ui-only-for-react.

[2020-06-10 00:19] bigrig2212 commented on #497
I'm getting same error with the netlify function... pushed up to netlify and getting error there too...

[2020-06-10 18:28] noerbot opened #504 "Lambdas are forbidden in JSX attributes"
Hey there!

Thanks for maintaining this sweet library. So I'm using the headless example from the README as the basis of our search integration:

[code]

But our tslint-loader module keeps throwing this warning:

Could you update the headless example to avoid using lambdas in JSX attributes?

Thanks!

[2020-06-11 12:36] JasonStoltz commented on #504
Ohhhh, interesting. I would consider it. It *think* it's actually reasonable to use lambdas in JSX attributes despite the warning message. To my knowledge, it's readability vs micro-performance. Open to opinions though.

[2020-06-16 13:26] #502 closed

[2020-06-16 13:26] #504 closed

[2020-06-17 15:59] #497 closed

[2020-07-11 15:07] michelt opened #507 "Autocomplete"
Hi,
Simple question : is autocomplete ux is possible with search-ui? Is it documented somewhere?

Thanks.

[2020-07-11 19:18] dsacramone opened #508 "No results display seems to be buggy"
So, I am having a bit of an issue and it also exhibits the problem in the codesandbox:
https://codesandbox.io/s/national-parks-example-kdyms?fontsize=14

Type in the following ("runner salad hardknocks is real cold") real slow, one character per second. You will a result set come up, then a no results, then "no results" will disappear even though it is obvious there are no matches, then a result s

[2020-07-12 14:01] #488 closed

[2020-07-14 02:57] llermaly commented on #269
Similar problem here. I'm trying to render a details page after clicking a result keeping the search box but when I trigger a search inside the details page attach ?q=test to /details/id/

[2020-07-14 10:15] hammund0 opened #509 "Control of query parameters"
Hello,

I'm a big fan if this react library, makes adding search very easy.

I have read through the readme's on this repository but could not find the answer I was looking for.

I have a couple of questions and would really appreciate an answer :)

1. Is it possible to not show the size parameter on search `&size=n_20_n` etc
2. I have to add a custom query string parameter on the search results p

[2020-07-16 10:45] marcvangend commented on #269
@JasonStoltz since we now have a codesandbox and multiple users reporting the same issue, would that be reason to reopen this issue?

[2020-07-17 11:34] DickyKwok opened #510 "Support for "or" filters"
I would like to search for results whose ID is 123 OR within specific distance, but now I can only get results when I search with ID 123 AND within specific distance. Can we have the OR filters feature in the future?

[code]

[2020-07-22 14:35] kumail-habib commented on #510
I need this functionality too

[2020-07-22 16:05] carlosslalom commented on #510
I ran into the same use case. Any luck?

[2020-07-22 17:43] JasonStoltz commented on #510
Thank you all for sharing this concern. I'd considered this before but then incorrectly decided there wouldn't be a need for it. I see now that was an incorrect assumption.

I believe there was a PR that was submitted previously that we ended up closing. Let me see what I can dig up.

[2020-07-22 17:44] JasonStoltz commented on #510
Ah, here is the issue I was thinking of: https://github.com/elastic/search-ui/issues/411

[2020-07-22 17:48] JasonStoltz commented on #510
I'm going to close this in favor of https://github.com/elastic/search-ui/issues/411, let's continue the conversation there.

[2020-07-22 17:48] #510 closed

[2020-07-22 17:48] JasonStoltz commented on #411
Noting here that this request was also made in https://github.com/elastic/search-ui/issues/411.

[2020-07-29 16:46] radhikanarang24 commented on #289
Hey
Just wanted to check if we have TypeScript support available with Search UI?

[2020-07-29 17:15] JasonStoltz commented on #289
Not yet

[2020-07-30 17:09] JasonStoltz commented on #269
Let me dig in right now and see if I can figure out what is happening

[2020-07-30 17:48] JasonStoltz commented on #269
@marcvangend I modified your code sandbox, check it out: https://codesandbox.io/s/modest-night-dx1gu

I think this is the way you need to handle a global search box.

1. Have a separate SearchProvider for your global search box.
1. Implement a onSubmit on your global search box which does a history.push to /search?q=searchTerm
1 Make sure your global search box has trackUrlState turned off
1. Have

[2020-07-30 17:51] JasonStoltz commented on #269
Also, typically, even if there is a search bar in the global header, sites will often times have a separate search bar embedded within the search page. They typically two serve two separate purposes:

1. Global header search bar ... take a user from other parts of the website to the search page with a search term populated
2. embedded search bar ... a more prominent search bar that users will use

[2020-07-30 18:01] JasonStoltz commented on #508
I don't think I understand.

Is this in the autocomplete dropdown?

Do you actually see a "No Results" message? I don't ever see a "No Reuslts" message.

I type the following, one character at a time, and watch the autocomplete dropdown.

"runner salad hardk" - The results change with each character I type.

When I enter one more character, "n" to make "runner salad hardkn", the autocomplete dropd

[2020-07-30 18:02] JasonStoltz commented on #509
These are two great suggestions. I would like to implement both of these, but for the time being, neither is possible.

[2020-07-30 18:03] JasonStoltz commented on #507
Yes, most definitely. This is documented along with the SearchBox component: https://github.com/elastic/search-ui/blob/master/ADVANCED.md#searchbox

[2020-07-30 18:03] #507 closed

[2020-07-31 17:43] JasonStoltz commented on #475
I actually don't think a fix for this in search-ui is a good solution. I'm going to see if I can track down an ES issue related to this and see if we can prioritize a fix that way.

[2020-07-31 17:44] JasonStoltz commented on #475
@Kilowogg What version of App Search are you using? Are you using the cloud version on app.swiftype.com, a version you installed, or a version located on cloud.elastic.co?

[2020-07-31 18:11] JasonStoltz commented on #475
I've confirmed this issue on all versions of App Search. I opened an issue with the App Search team. I am closing this issue for now as we will not address it directly in Search UI.

[2020-07-31 18:11] #475 closed

[2020-07-31 18:20] JasonStoltz commented on #347
@TCMiranda I've responded to your issue in elastic/app-search-javascript. Let's keep that conversation separate!

[2020-08-02 07:19] DickyKwok commented on #411
Can we use this feature now?
`addFilter("states", "California", "any", "any")`
😣😣😣

[2020-08-03 19:25] z0rroh opened #512 "Query Min - Max Score"
Hello everyone, i am new here.

I would like to know if the configuration of this packages supports adding a minimum or a maximum for the score of the queries, thanks in advance

[2020-08-03 20:44] marcvangend commented on #269
Thanks @JasonStoltz, I will definitely check out your code in more detail as soon as I have the time. At first glance, your solution looks clean and works as expected.

[2020-08-04 05:37] DickyKwok commented on #411
As mentioned above, How can we work on it by programatically changing the outbound API request to support or fileter (https://github.com/elastic/search-ui/blob/master/ADVANCED.md#api-config)? I am desperate for this feature, can somebody save my world?

[2020-08-13 16:44] JasonStoltz commented on #512
Nope, we don't have support for anything like that. Thanks for asking.

[2020-08-13 16:44] #512 closed

[2020-08-13 16:45] JasonStoltz commented on #411
Hey! Would love to help you out, not sure how soon we can get to this, unfortunately.

[2020-08-19 17:06] JasonStoltz commented on #409
Hey @FokkeZB, I believe I may have resolved a bit unintentionally, and it never occurred to me to follow up here.

https://github.com/elastic/search-ui/commit/2bf0a330ebbc755ac16d5a9643a4d88d3d38265d

I made it so that a `SearchDriver` can be instantiated independently of a `SearchProvider`, and then passed in as a prop to `SearchProvider`.

This essentially means that you can have multiple `Searc

[2020-08-24 08:32] FokkeZB commented on #409
@JasonStoltz that looks like something we could use indeed. We'd wrap only the body of the search results page in the provider and keep doing the same for the header with search field found on every page - both using the same driver reference.

Thanks!

[2020-08-26 12:21] BackToTheCode commented on #509
+1

[2020-09-18 00:16] gabeamaleoni opened #513 "'Layout' is not exported from @elastic/react-search-ui-views"
Hi there,

I am attempting to use this on a work project with React/TypeScrip. When I attempt to import:
`import { Layout } from "@elastic/react-search-ui-views";`

I get this error: `Module '"@elastic/react-search-ui-views"' has no exported member 'Layout'.ts(2305)`

Any ideas?

![image](https://user-images.githubusercontent.com/8764019/93540760-859e7e00-f909-11ea-942e-98402123b10a.png)

[2020-09-28 17:58] DeliDro opened #514 "Unable to change button text on SearchBox"
I'm a French user then I wanted to change the default "Search" text on input and button of the SearchBox.
I tried this according to the docs:
`<SearchBox
    autocompleteSuggestions={true}
    inputProps={{ placeholder: "Chercher" }}
    buttonProps={{ value: "Chercher" }}
/>`
This works only for input.

When trying to go deep in search-ui's source code, i found out that the button's properties ar

[2020-10-02 17:05] spyderman4g63 opened #515 "Webpack conflict in examples/elasticsearch"
I cloned the repo and then ran npm install. I'm trying to start the elasticsearch example server and I get an error about webpack version.

[code]

I tried to follow the steps listed above but I don't see a dependency for webpack in the examples/elasticsearch/package.json. I ran the following command and it looks like two different modules require different versions of webpack. I'm not sure if tha

[2020-10-02 17:15] spyderman4g63 commented on #515
Creating an .env file with the contents `SKIP_PREFLIGHT_CHECK=true`

Then deleting node_modules, package-lock.json and the running `npm install` again allows the server to launch. I don't know enough to say if this is a good solution though.

[2020-10-05 13:44] zumwalt commented on #515
Thanks for raising this issue, @spyderman4g63. I'm wondering if the error you came up against was transient and solved by deleting `node_modules`/`package-lock.json` and reinstalling. I haven't tested extensively, but I didn't encounter the issue when installing and starting the example with a fresh clone of the repo.

[2020-10-05 14:18] zumwalt commented on #513
Thanks for raising this issue, @gabeamaleoni. Are you attempting to implement Search UI in a Typescript project? I haven't explored the problem you're dealing with in depth, but seeing `.ts` in the error response leads me to believe that you may be running up against Search UI's lack of Typescript definitions.

[2020-10-05 14:18] JasonStoltz commented on #515
I suspect it could also have been related to your node version. @spyderman4g63 What version of node are you on?

[code]

[2020-10-05 18:40] #508 closed

[2020-10-09 21:40] #269 closed

[2020-10-16 07:35] linpaws-reverse opened #516 "Uncaught TypeError: Cannot read property 'suggestion' of null"
Search ui is throwing above error on pressing esc button.

Steps to reproduce :

1. Enter text for search and select search text from suggestions.
2. Press esc key to clear input it will throw error  as - "SearchBox.js?9b6a:117 Uncaught TypeError: Cannot read property 'suggestion' of null"

[2020-10-16 10:29] davidsauntson commented on #436
Can I re-open this issue please? As I would like to finish this off in a fork of @Essk fork.  Thanks!

[2020-10-19 12:04] JasonStoltz commented on #436
Yep, thanks!

[2020-10-19 18:47] JasonStoltz commented on #436
Closed by #517

[2020-10-19 18:47] #436 closed

[2020-10-19 19:08] JasonStoltz opened #518 "Release 1.5.0"
Release candidate: 1.5.0-rc.0

The only thing included in this release is https://github.com/elastic/search-ui/pull/517

[2020-10-19 19:08] JasonStoltz commented on #518
@davidsauntson This release is mainly for you. Do you mind trying out the RC in your project to make sure the rawResponse changes work as you expect?

[2020-10-20 14:29] JasonStoltz commented on #516
I have been unable to reproduce this in the past, though I have seen it happen on occasion.

For instance, on our demo application, I am not able to reproduce: https://search-ui-stable.netlify.app/?size=n_20_n

[2020-10-20 14:30] JasonStoltz commented on #516
Do you have a deployment you can point me to so I can reproduce this?

What version of Search UI are you using?